banco-talentos-VlYisriLfzpBuIWR.json
{"createdAt":"2025-08-25T18:22:48.553Z","updatedAt":"2025-10-01T13:58:10.750Z","id":"VlYisriLfzpBuIWR","name":"Banco-Talentos","active":true,"isArchived":false,"nodes":[{"parameters":{"inputDataFieldName":"=data","name":"={{ $json.nomeCompleto }}_{{ $json.estado }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1ef4F71ReWLdjWMGQl4povIiXSIBtpbwT","mode":"list","cachedResultName":"Curriculos Forms","cachedResultUrl":"https://drive.google.com/drive/folders/1ef4F71ReWLdjWMGQl4povIiXSIBtpbwT"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2768,352],"id":"d52b3cd7-07ef-468e-8ac7-caf348ad90a7","name":"UPLOAD_RESUME","retryOnFail":false,"credentials":{"googleDriveOAuth2Api":{"id":"i1RZRKtVnky7YUXu","name":"Google Drive account 2"}}},{"parameters":{"url":"={{ $json.curriculo_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2960,352],"id":"cb808388-4445-46f2-8614-51b1e54fa042","name":"HTTP_RESUME","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"6ad0401b-7398-4e6f-8883-d1347628811e","name":"webViewLink","value":"={{ $json.webViewLink }}","type":"string"},{"id":"9d0ee7b9-bea0-4218-ade3-21a3a8c4e73f","name":"fonte","value":"Formulário - Site","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2608,352],"id":"1e71c6ce-5b41-49f8-8767-9c96048da9a8","name":"Edit Fields2"},{"parameters":{"jsCode":"// --- INÍCIO DO CÓDIGO CORRIGIDO E MELHORADO ---\n\nconst body = $input.first().json.body;\n\n// Mapa para traduzir as áreas de interesse (chaves) para seus nomes completos (valores)\nconst interessesMap = {\n  'exp-elm': 'Projeto Eletromecânico',\n  'exp-spcs': 'Projeto de SPCS',\n  'exp-cv': 'Projeto Civil',\n  'exp-scada': 'Supervisórios (Sage, Elipse, WinCC, etc)',\n  'exp-param': 'Parametrização de Relés ou CLPs',\n  'exp-test': 'Testes e Comissionamento',\n  'exp-est': 'Estudos Elétricos',\n  'exp-bim': 'BIM',\n  'exp-prog': 'Programação',\n  'exp-red': 'Redes e Protocolos (TCP/IP, DNP3, MMS, Goose)',\n  'exp-tel': 'Telecomunicações (SDH, PDH, OPLAT, MPLS, Wireless, CFTV)',\n  'exp-ciber': 'Cibersegurança',\n  'exp-ti': 'Tecnologia da Informação',\n  'exp-data': 'Ciência de Dados',\n  'exp-ia': 'Inteligência Artificial',\n  'exp-com': 'Comercial',\n  'exp-fin': 'Financeiro',\n  'exp-cont': 'Contábil',\n  'exp-rh': 'Recursos Humanos',\n  'exp-ge': 'Gestão de Pessoas',\n  'exp-gp': 'Gerência de Projetos'\n};\n\n// Função para normalizar texto em Title Case\nfunction normalizeText(text) {\n  if (!text || typeof text !== 'string') return '';\n  const prepositions = ['de', 'da', 'do', 'das', 'dos', 'e'];\n  return text.toLowerCase().split(' ').map((word, index) => {\n    if (index > 0 && prepositions.includes(word)) return word;\n    return word.charAt(0).toUpperCase() + word.slice(1);\n  }).join(' ');\n}\n\n// Converte escolhas binárias em \"Sim\" ou \"Não\"\nfunction normalizeChoice(value) {\n  if (!value || typeof value !== 'string') return '';\n  const lower = value.toLowerCase();\n  if (lower.includes('yes')) return 'Sim';\n  if (lower.includes('no')) return 'Não';\n  return '';\n}\n\n// Função mantida para processar outras listas\nfunction processAndJoinList(rawData, prefixToRemove) {\n  if (!rawData) return '';\n  const arr = Array.isArray(rawData) ? rawData : [rawData];\n  return arr.map(item => normalizeText(item.replace(prefixToRemove,'').replace(/-/g,' '))).join(', ');\n}\n\n// ATUALIZADO: Função agora lida com strings separadas por vírgula\nfunction mapAndJoinList(rawData, map) {\n  if (!rawData) return '';\n  \n  let arr = [];\n  // Verifica se o dado é uma string e a divide em um array.\n  // Se já for um array, usa-o diretamente.\n  if (typeof rawData === 'string') {\n    arr = rawData.split(',');\n  } else if (Array.isArray(rawData)) {\n    arr = rawData;\n  } else {\n    // Se não for nenhum dos dois, retorna uma string vazia para evitar erros\n    return '';\n  }\n  \n  return arr.map(item => {\n    // Garante que o item é uma string e remove espaços extras\n    const cleanItem = typeof item === 'string' ? item.trim() : '';\n    // Busca o item \"limpo\" no mapa. Se não encontrar, retorna o próprio item como fallback.\n    return map[cleanItem] || item; \n  }).join(', ');\n}\n\n// Função para gerar rótulo personalizado de link\nfunction getLinkLabel(link, index) {\n  if (!link) return '';\n  const lower = link.toLowerCase();\n  if (lower.includes('linkedin.com')) return 'LinkedIn';\n  if (lower.includes('github.com')) return 'GitHub';\n  if (lower.includes('openai.com')) return 'OpenAI';\n  if (lower.includes('twitter.com')) return 'Twitter';\n  if (lower.includes('facebook.com')) return 'Facebook';\n  return `Link ${index + 1}`;\n}\n\n// --- EXTRAÇÃO E TRANSFORMAÇÃO DOS DADOS ---\n\nconst firstName = body['mf-first-name'] || '';\nconst lastName = body['mf-last-name'] || '';\nconst nomeCompleto = normalizeText(`${firstName} ${lastName}`.trim());\n\n// Esta linha agora usará a função corrigida que lida com a string\nconst interesses = mapAndJoinList(body['mf-experience'], interessesMap);\nconst areaFormacao = processAndJoinList(body['mf-degree'], 'area-');\n\n// Lista de links\nconst links = [\n  body['mf-url-1'],\n  body['mf-url-2'],\n  body['mf-url-3']\n].filter(Boolean);\n\n// Criação da célula final de links\nlet linksFormula = '';\nif (links.length === 1) {\n  linksFormula = `=HYPERLINK(\"${links[0]}\"; \"${getLinkLabel(links[0],0)}\")`;\n} else if (links.length > 1) {\n  linksFormula = links.join('\\n');\n}\n\n// --- MONTAGEM DO OBJETO FINAL ---\nconst resultado = {\n  nomeCompleto: nomeCompleto,\n  dataNascimento: body['mf-date-of-birth'] || '',\n  telefone: body['mf-phone'] || '',\n  email: body['mf-email'] || '',\n  cidade: normalizeText(body['mf-city']),\n  estado: (body['mf-state'] || '').toUpperCase(),\n  disponibilidadeViagem: normalizeChoice(body['mf-trip']),\n  setorEletrico: normalizeChoice(body['mf-channel']),\n  areaFormacao: areaFormacao,\n  interesses: interesses, // Com o código novo, o resultado aqui será \"Programação, Ciência de Dados, Inteligência Artificial\"\n  link1: body['mf-url-1'] || '',\n  link2: body['mf-url-2'] || '',\n  link3: body['mf-url-3'] || '',\n  linksFormula: linksFormula,\n  cnh: (body['mf-cnh'] || '').replace('cnh-', '').toUpperCase(),\n  vagaInscrita: body['mf-vaga'] || '',\n  curriculo_url: body['curriculo_url']\n};\n\nreturn [resultado];\n\n// --- FIM DO CÓDIGO ---"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3200,464],"id":"72c5bf77-af6e-433d-8d90-29abee0f5da3","name":"GET_RESUME"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2352,480],"id":"e96e5c09-31ad-4583-864d-73f7f41131d3","name":"Merge"},{"parameters":{"promptType":"define","text":"=**IMPORTANTE**: Este é um prompt técnico. A saída deve ser um **array JSON válido**, estruturado conforme as regras abaixo.\n**Não inclua** nenhum comentário, cabeçalho, explicação, marcação, ou texto fora do JSON.\n\n### FORMATO DE RESPOSTA ESPERADO (EXEMPLO)\n\n```json\n[\n  {\n    \"nomeCompleto\": \"João da Silva\",\n    \"dataNascimento\": \"15/04/1990\",\n    \"telefone\": \"(11) 91234-5678\",\n    \"email\": \"joao@email.com\",\n    \"cidade\": \"São Paulo\",\n    \"estado\": \"SP\",\n    \"disponibilidadeViagem\": \"Sim\",\n    \"setorEletrico\": \"Sim\",\n    \"areaFormacao\": \"Engenharia Elétrica; Engenharia de Produção\",\n    \"interesses\": \"Projetos Elétricos, BIM, Cibersegurança\",\n    \"link\": \"=HIPERLINK(\\\"https://linkedin.com/in/joao\\\";\\\"Link\\\")\",\n    \"webViewLink\": \"https://drive.google.com/file/d/{{ $node[\"Download_file\"].json[\"id\"] }}/view?usp=drivesdk\",\n    \"cnh\": \"B\",\n    \"vagaInscrita\": \"Engenheiro de Projetos\",\n    \"dataIns\": \"{{ $now.toFormat('dd/MM/yyyy HH:mm') }}\"\n  }\n]\n```\n\n### REGRAS GERAIS\n\n* O retorno deve ser um **array JSON válido contendo um ou mais objetos**.\n* Não adicione campos fora do schema.\n* Todos os campos devem ser preenchidos com valor válido ou `\"\"` (string vazia).\n* Campos com valores desconhecidos ou não identificados devem conter `\"\"`.\n\n### FORMATAÇÃO DE DATAS\n\n* `dataIns`: sempre no formato `DD/MM/YYYY HH:mm`, com `{{ $now.toFormat('dd/MM/yyyy HH:mm') }}`\n* `dataNascimento`: use `\"\"` se a informação não estiver disponível\n\n### INTERESSES (até 3, separados por vírgula)\n\nEscolha até **3** dos seguintes:\n\n* Projetos Elétricos\n* Projetos Eletromecânicos\n* Projeto Civil\n* BIM\n* Estudos Elétricos\n* Sistemas Digitais\n* Telecomunicações\n* Engenharia do Proprietário\n* Testes e Comissionamento\n* Cibersegurança\n* Tecnologia da Informação e Inovação\n\nSe não encontrar interesse válido, use `\"\"`.\n\n### ÁREA DE FORMAÇÃO (até 2, separadas por ponto e vírgula)\n\nUse os nomes exatos da lista abaixo. Se não encontrar correspondência, use o texto identificado no currículo.\nSe não houver informação, use `\"\"`.\n\nLista sugerida:\n\n* Engenharia Elétrica\n* Engenharia Eletromecânica\n* Engenharia Civil\n* Engenharia de Telecomunicações\n* Engenharia de Controle e Automação\n* Engenharia de Computação\n* Engenharia Mecânica\n* Engenharia de Produção\n* Engenharia de Software\n* Análise e Desenvolvimento de Sistemas\n* Ciência da Computação\n* Sistemas de Informação\n* Técnico em Eletrotécnica\n* Técnico em Eletrônica\n* Técnico em Mecânica\n* Técnico em Telecomunicações\n* Eletricista\n\n### LINKS\n\n* `link`: se houver LinkedIn, GitHub ou perfil semelhante, use o formato:\n  `=HIPERLINK(\"URL\";\"Link\")`\n\n* `webViewLink`: deve ser exatamente:\n  `https://drive.google.com/file/d/{{ $node[\"Download_file\"].json[\"id\"] }}/view?usp=drivesdk`\n\n### ESTADO\n\n* Deve conter apenas a sigla do estado (ex.: SP, RJ, MG)\n* Se não identificado, use `\"\"`\n\n### CNH\n\n* Valores válidos: `\"A\"`, `\"B\"`, `\"AB\"`, ou `\"\"`\n\n### DISPONIBILIDADE E SETOR ELÉTRICO\n\n* `disponibilidadeViagem`: `\"Sim\"`, `\"Não\"` ou `\"\"`\n* `setorEletrico`:\n\n  * `\"Sim\"` se houver experiência comprovada\n  * `\"Não\"` se for explícito que **não tem**\n  * `\"\"` se a informação não for possível de determinar\n\n### CAMPOS OBRIGATÓRIOS\n\nTodos os campos abaixo **devem estar presentes**. Se o dado não existir, use `\"\"`:\n\n* `nomeCompleto` → Nome completo com iniciais maiúsculas (exceto preposições: da, de, dos)\n* `dataNascimento`\n* `telefone` → Exemplo: `(11) 91234-5678`\n* `email`\n* `cidade`\n* `estado`\n* `disponibilidadeViagem`\n* `vagaInscrita`\n* `dataIns`\n\n### TEXTO A SER ANALISADO\n\n```\n{{ $json.text }}\n```\n\n### FINAL\n\n* Retorne **somente o array JSON**, nada antes ou depois.\n* Nenhum comentário, explicação, marcação ou texto adicional.\n* O JSON deve estar 100% limpo e válido.\n","hasOutputParser":true,"batching":{"batchSize":10}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-2704,720],"id":"d9243170-84e3-48c2-8db7-84f7ae3b51e0","name":"Basic LLM Chain"},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $('Basic LLM Chain').item.json.output[0].webViewLink }}","mode":"url"},"newUpdatedFileName":"={{ $json['Nome Completo'] }}_{{ $json.Estado }}","options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2144,720],"id":"befea95e-148d-477a-bcf9-024a3b7b128a","name":"Update file","retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"i1RZRKtVnky7YUXu","name":"Google Drive account 2"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-3216,720],"id":"2e25f6d3-8eaf-4f70-bbcf-5c84915a1dd2","name":"Download_file","credentials":{"googleDriveOAuth2Api":{"id":"i1RZRKtVnky7YUXu","name":"Google Drive account 2"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-2960,720],"id":"659db6be-0a57-4451-a4db-c70c71590aa7","name":"GET_JSON"},{"parameters":{"httpMethod":"POST","path":"56d6b431-0f39-4ff0-b849-c11133e34390","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-3456,464],"id":"6299e91d-efee-4d3a-9622-aaa029389157","name":"Webhook","webhookId":"56d6b431-0f39-4ff0-b849-c11133e34390","credentials":{"httpHeaderAuth":{"id":"qsTY0idvBrhxfFbW","name":"Header Auth account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1VzRTXVBKr1LwalmR2v6CKq6wyoWn1aSg5hQCmX2AAUU","mode":"list","cachedResultName":"Banco de Talentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VzRTXVBKr1LwalmR2v6CKq6wyoWn1aSg5hQCmX2AAUU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VzRTXVBKr1LwalmR2v6CKq6wyoWn1aSg5hQCmX2AAUU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"dataIns":"={{ $('Basic LLM Chain').item.json.output[0].dataIns }}","Nome Completo":"={{ $('Basic LLM Chain').item.json.output[0].nomeCompleto }}","Data de Nascimento":"={{ $('Basic LLM Chain').item.json.output[0].dataNascimento }}","Telefone":"={{ $('Basic LLM Chain').item.json.output[0].telefone }}","Cidade":"={{ $('Basic LLM Chain').item.json.output[0].cidade }}","E-Mail":"={{ $('Basic LLM Chain').item.json.output[0].email }}","Estado":"={{ $('Basic LLM Chain').item.json.output[0].estado }}","Está disponivel para viagem?":"={{ $('Basic LLM Chain').item.json.output[0].disponibilidadeViagem }}","Setor Elétrico?":"={{ $('Basic LLM Chain').item.json.output[0].setorEletrico }}","Área de formação":"={{ $('Basic LLM Chain').item.json.output[0].areaFormacao }}","Interesses":"={{ $('Basic LLM Chain').item.json.output[0].interesses }}","Links":"={{ $('Basic LLM Chain').item.json.output[0].link }}","Currículo":"==HIPERLINK(\"{{ $('Basic LLM Chain').item.json.output[0].webViewLink }}\";\"Currículo\")","CNH":"={{ $('Basic LLM Chain').item.json.output[0].cnh }}","Vaga ":"={{ $('Basic LLM Chain').item.json.output[0].vagaInscrita }}","Fonte":"Email - Seleção"},"matchingColumns":[],"schema":[{"id":"Adicional","displayName":"Adicional","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome Completo","displayName":"Nome Completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data de Nascimento","displayName":"Data de Nascimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E-Mail","displayName":"E-Mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Cidade","displayName":"Cidade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Está disponivel para viagem?","displayName":"Está disponivel para viagem?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Setor Elétrico?","displayName":"Setor Elétrico?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Área de formação","displayName":"Área de formação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Interesses","displayName":"Interesses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Currículo","displayName":"Currículo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Links","displayName":"Links","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fonte","displayName":"Fonte","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CNH","displayName":"CNH","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Vaga ","displayName":"Vaga ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dataIns","displayName":"dataIns","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-2336,720],"id":"02b2f998-b34c-45a1-b052-c510d7f354d5","name":"ADD_CANDIDATE_DRIVE","credentials":{"googleSheetsOAuth2Api":{"id":"5uGUQZksI1O6axsA","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1VzRTXVBKr1LwalmR2v6CKq6wyoWn1aSg5hQCmX2AAUU","mode":"list","cachedResultName":"Banco de Talentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VzRTXVBKr1LwalmR2v6CKq6wyoWn1aSg5hQCmX2AAUU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VzRTXVBKr1LwalmR2v6CKq6wyoWn1aSg5hQCmX2AAUU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"dataIns":"={{ $now.toFormat('dd/MM/yyyy HH:mm') }}","Nome Completo":"={{ $json.nomeCompleto }}","Data de Nascimento":"={{ $json.dataNascimento }}","Telefone":"={{ $json.telefone }}","E-Mail":"={{ $json.email }}","Cidade":"={{ $json.cidade }}","Estado":"={{ $json.estado }}","Está disponivel para viagem?":"={{ $json.disponibilidadeViagem }}","Setor Elétrico?":"={{ $json.setorEletrico }}","Área de formação":"={{ $json.areaFormacao }}","Interesses":"={{ $json.interesses }}","Currículo":"==HYPERLINK(\"{{ $json.webViewLink }}\";\"Currículo\")\n","Fonte":"={{ $json.fonte }}","CNH":"={{ $json.cnh }}","Vaga ":"={{ $json.vagaInscrita }}","Links":"={{ $json.linksFormula }}"},"matchingColumns":[],"schema":[{"id":"Adicional","displayName":"Adicional","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome Completo","displayName":"Nome Completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data de Nascimento","displayName":"Data de Nascimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E-Mail","displayName":"E-Mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Cidade","displayName":"Cidade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Está disponivel para viagem?","displayName":"Está disponivel para viagem?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Setor Elétrico?","displayName":"Setor Elétrico?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Área de formação","displayName":"Área de formação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Interesses","displayName":"Interesses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Currículo","displayName":"Currículo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Links","displayName":"Links","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fonte","displayName":"Fonte","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CNH","displayName":"CNH","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Vaga ","displayName":"Vaga ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dataIns","displayName":"dataIns","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-2144,480],"id":"46768f55-d6b1-4d45-91ba-5446cf971fbf","name":"ADD_CANDIDATE_FORM","credentials":{"googleSheetsOAuth2Api":{"id":"5uGUQZksI1O6axsA","name":"Google Sheets account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2704,880],"id":"288b075c-a862-4aee-aa56-e12af63358e6","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ZOhloDp8D6BxlshB","name":"OpenAi account 2"}}},{"parameters":{"content":"# Automação Forms","height":320,"width":1696},"type":"n8n-nodes-base.stickyNote","position":[-3600,320],"typeVersion":1,"id":"60a24178-bed2-49b3-8fd3-aef7cfb5804e","name":"Sticky Note6"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M","mode":"list","cachedResultName":"Curriculos - Drive","cachedResultUrl":"https://drive.google.com/drive/folders/1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-3456,720],"id":"7142dc79-f018-479a-aba3-2d55b925f846","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"i1RZRKtVnky7YUXu","name":"Google Drive account 2"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"nomeCompleto\": {\n        \"type\": \"string\",\n        \"minLength\": 1\n      },\n      \"dataNascimento\": {\n        \"type\": \"string\"\n      },\n      \"telefone\": {\n        \"type\": \"string\"\n      },\n      \"email\": {\n        \"type\": \"string\"\n      },\n      \"cidade\": {\n        \"type\": \"string\"\n      },\n      \"estado\": {\n        \"type\": \"string\",\n        \"enum\": [\n          \"\", \"AC\", \"AL\", \"AM\", \"AP\", \"BA\", \"CE\", \"DF\", \"ES\", \"GO\",\n          \"MA\", \"MG\", \"MS\", \"MT\", \"PA\", \"PB\", \"PE\", \"PI\", \"PR\", \"RJ\",\n          \"RN\", \"RO\", \"RR\", \"RS\", \"SC\", \"SE\", \"SP\", \"TO\"\n        ]\n      },\n      \"disponibilidadeViagem\": {\n        \"type\": \"string\",\n        \"enum\": [\"Sim\", \"Não\", \"Parcial\", \"\"]\n      },\n      \"setorEletrico\": {\n        \"type\": \"string\"\n      },\n      \"areaFormacao\": {\n        \"type\": \"string\"\n      },\n      \"interesses\": {\n        \"type\": \"string\"\n      },\n      \"link\": {\n        \"type\": \"string\"\n      },\n      \"webViewLink\": {\n        \"type\": \"string\"\n      },\n      \"cnh\": {\n        \"type\": \"string\",\n        \"enum\": [\"A\", \"B\", \"AB\", \"\"]\n      },\n      \"vagaInscrita\": {\n        \"type\": \"string\"\n      },\n      \"dataIns\": {\n        \"type\": \"string\"\n      }\n    },\n    \"required\": [\n      \"nomeCompleto\",\n      \"dataNascimento\",\n      \"telefone\",\n      \"email\",\n      \"cidade\",\n      \"estado\",\n      \"disponibilidadeViagem\",\n      \"vagaInscrita\",\n      \"dataIns\"\n    ],\n    \"additionalProperties\": false\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2560,880],"id":"d127117d-5b67-4116-94e4-a07d16b4ddd8","name":"Structured Output Parser"},{"parameters":{"content":"# Automação Drive\n","height":384,"width":1696,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-3600,640],"typeVersion":1,"id":"889e9074-9dc5-4fa8-81b8-a38ac6b42dd1","name":"Sticky Note5"}],"connections":{"UPLOAD_RESUME":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"HTTP_RESUME":{"main":[[{"node":"UPLOAD_RESUME","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"GET_RESUME":{"main":[[{"node":"HTTP_RESUME","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"ADD_CANDIDATE_FORM","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"ADD_CANDIDATE_DRIVE","type":"main","index":0}]]},"Update file":{"main":[[]]},"Download_file":{"main":[[{"node":"GET_JSON","type":"main","index":0}]]},"GET_JSON":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"GET_RESUME","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Google Drive Trigger":{"main":[[{"node":"Download_file","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"ADD_CANDIDATE_DRIVE":{"main":[[{"node":"Update file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:30 minute Trigger":{"recurrenceRules":[]},"node:Google Drive Trigger":{"lastTimeChecked":"2025-10-01T14:57:01Z"},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Google Drive Trigger":[{"json":{"parents":["1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M"],"lastModifyingUser":{"displayName":"mariaeduarda.lauriano","kind":"drive#user","me":false,"permissionId":"14284107074468724408","emailAddress":"mariaeduarda.lauriano@esc.com.br","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64"},"owners":[{"displayName":"mariaeduarda.lauriano","kind":"drive#user","me":false,"permissionId":"14284107074468724408","emailAddress":"mariaeduarda.lauriano@esc.com.br","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64"}],"permissions":[{"kind":"drive#permission","id":"14284107074468724408","type":"user","emailAddress":"mariaeduarda.lauriano@esc.com.br","role":"owner","displayName":"mariaeduarda.lauriano","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"07766998593574246975","type":"user","emailAddress":"n8nesc@gmail.com","role":"writer","displayName":"N8N ESC","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"09452354681220396560","type":"user","emailAddress":"selecaoescrh@gmail.com","role":"writer","displayName":"selecaoescrh","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXyMqz5p8U_blSTGyrFocx1XUBluuaRlegj4djq8PyAbXvlww=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":false,"canChangeItemDownloadRestriction":false,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":false,"canComment":true,"canCopy":true,"canDelete":false,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":false,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":false,"canMoveItemOutOfDrive":false,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":false,"canUntrash":false},"permissionIds":["14284107074468724408","07766998593574246975","09452354681220396560"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"1a61jlMIP7ympA-UwYmupn_8z12E2yR0g","name":"PE_JOANA XAVIER.pdf","mimeType":"application/pdf","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"3","webContentLink":"https://drive.google.com/uc?id=1a61jlMIP7ympA-UwYmupn_8z12E2yR0g&export=download","webViewLink":"https://drive.google.com/file/d/1a61jlMIP7ympA-UwYmupn_8z12E2yR0g/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/pdf","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBN7xZH4l4kgOPYdj7DioqB9dkR71U0VB4bzch39GuMBiRIXlq_A0BU6lzPWULfHjQkLuazzfF9TwKL-yi1D_fa8OBJtMeFKOpoD7wsyAXCjvmo=s220","thumbnailVersion":"1","viewedByMe":false,"createdTime":"2025-09-29T17:39:46.582Z","modifiedTime":"2025-09-29T16:35:53.000Z","modifiedByMe":false,"shared":true,"ownedByMe":false,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"PE_JOANA XAVIER.pdf","fullFileExtension":"pdf","fileExtension":"pdf","md5Checksum":"47e8145266fcde10a03115923c0b9253","sha1Checksum":"ad2a5d7e9337433709b7c88214adbcaf89b2ab33","sha256Checksum":"b3203393c13579def65b4dbd4e78030fe1a5e1145692b4d54a9708d0a2ab3f98","size":"103530","quotaBytesUsed":"103530","headRevisionId":"0B124pOFkWuOSWHo4OXpTMTFlUThUN2h1NVl5L0EzaUVlSnNRPQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}}]},"versionId":"ad4fe4f3-3ba9-4c7d-89dd-87521dd752e5","triggerCount":2,"shared":[{"createdAt":"2025-08-25T18:22:48.553Z","updatedAt":"2025-08-25T18:22:48.553Z","role":"workflow:owner","workflowId":"VlYisriLfzpBuIWR","projectId":"jJAHNbybBNBtw3OW"}],"tags":[]}