banco-talentos-VlYisriLfzpBuIWR.json
{"createdAt":"2025-08-25T18:22:48.553Z","updatedAt":"2025-09-15T14:49:56.573Z","id":"VlYisriLfzpBuIWR","name":"Banco-Talentos","active":true,"isArchived":false,"nodes":[{"parameters":{"inputDataFieldName":"=data","name":"={{ $json.nomeCompleto }}_{{ $json.estado }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1ef4F71ReWLdjWMGQl4povIiXSIBtpbwT","mode":"list","cachedResultName":"Curriculos Forms","cachedResultUrl":"https://drive.google.com/drive/folders/1ef4F71ReWLdjWMGQl4povIiXSIBtpbwT"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2768,352],"id":"d52b3cd7-07ef-468e-8ac7-caf348ad90a7","name":"UPLOAD_RESUME","retryOnFail":false,"credentials":{"googleDriveOAuth2Api":{"id":"i1RZRKtVnky7YUXu","name":"Google Drive account 2"}}},{"parameters":{"url":"={{ $json.curriculo_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2960,352],"id":"cb808388-4445-46f2-8614-51b1e54fa042","name":"HTTP_RESUME","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"6ad0401b-7398-4e6f-8883-d1347628811e","name":"webViewLink","value":"={{ $json.webViewLink }}","type":"string"},{"id":"9d0ee7b9-bea0-4218-ade3-21a3a8c4e73f","name":"fonte","value":"Formulário - Site","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2608,352],"id":"1e71c6ce-5b41-49f8-8767-9c96048da9a8","name":"Edit Fields2"},{"parameters":{"jsCode":"// --- INÍCIO DO CÓDIGO CORRIGIDO E MELHORADO ---\n\nconst body = $input.first().json.body;\n\n// Mapa para traduzir as áreas de interesse (chaves) para seus nomes completos (valores)\nconst interessesMap = {\n  'exp-elm': 'Projeto Eletromecânico',\n  'exp-spcs': 'Projeto de SPCS',\n  'exp-cv': 'Projeto Civil',\n  'exp-scada': 'Supervisórios (Sage, Elipse, WinCC, etc)',\n  'exp-param': 'Parametrização de Relés ou CLPs',\n  'exp-test': 'Testes e Comissionamento',\n  'exp-est': 'Estudos Elétricos',\n  'exp-bim': 'BIM',\n  'exp-prog': 'Programação',\n  'exp-red': 'Redes e Protocolos (TCP/IP, DNP3, MMS, Goose)',\n  'exp-tel': 'Telecomunicações (SDH, PDH, OPLAT, MPLS, Wireless, CFTV)',\n  'exp-ciber': 'Cibersegurança',\n  'exp-ti': 'Tecnologia da Informação',\n  'exp-data': 'Ciência de Dados',\n  'exp-ia': 'Inteligência Artificial',\n  'exp-com': 'Comercial',\n  'exp-fin': 'Financeiro',\n  'exp-cont': 'Contábil',\n  'exp-rh': 'Recursos Humanos',\n  'exp-ge': 'Gestão de Pessoas',\n  'exp-gp': 'Gerência de Projetos'\n};\n\n// Função para normalizar texto em Title Case\nfunction normalizeText(text) {\n  if (!text || typeof text !== 'string') return '';\n  const prepositions = ['de', 'da', 'do', 'das', 'dos', 'e'];\n  return text.toLowerCase().split(' ').map((word, index) => {\n    if (index > 0 && prepositions.includes(word)) return word;\n    return word.charAt(0).toUpperCase() + word.slice(1);\n  }).join(' ');\n}\n\n// Converte escolhas binárias em \"Sim\" ou \"Não\"\nfunction normalizeChoice(value) {\n  if (!value || typeof value !== 'string') return '';\n  const lower = value.toLowerCase();\n  if (lower.includes('yes')) return 'Sim';\n  if (lower.includes('no')) return 'Não';\n  return '';\n}\n\n// Função mantida para processar outras listas\nfunction processAndJoinList(rawData, prefixToRemove) {\n  if (!rawData) return '';\n  const arr = Array.isArray(rawData) ? rawData : [rawData];\n  return arr.map(item => normalizeText(item.replace(prefixToRemove,'').replace(/-/g,' '))).join(', ');\n}\n\n// ATUALIZADO: Função agora lida com strings separadas por vírgula\nfunction mapAndJoinList(rawData, map) {\n  if (!rawData) return '';\n  \n  let arr = [];\n  // Verifica se o dado é uma string e a divide em um array.\n  // Se já for um array, usa-o diretamente.\n  if (typeof rawData === 'string') {\n    arr = rawData.split(',');\n  } else if (Array.isArray(rawData)) {\n    arr = rawData;\n  } else {\n    // Se não for nenhum dos dois, retorna uma string vazia para evitar erros\n    return '';\n  }\n  \n  return arr.map(item => {\n    // Garante que o item é uma string e remove espaços extras\n    const cleanItem = typeof item === 'string' ? item.trim() : '';\n    // Busca o item \"limpo\" no mapa. Se não encontrar, retorna o próprio item como fallback.\n    return map[cleanItem] || item; \n  }).join(', ');\n}\n\n// Função para gerar rótulo personalizado de link\nfunction getLinkLabel(link, index) {\n  if (!link) return '';\n  const lower = link.toLowerCase();\n  if (lower.includes('linkedin.com')) return 'LinkedIn';\n  if (lower.includes('github.com')) return 'GitHub';\n  if (lower.includes('openai.com')) return 'OpenAI';\n  if (lower.includes('twitter.com')) return 'Twitter';\n  if (lower.includes('facebook.com')) return 'Facebook';\n  return `Link ${index + 1}`;\n}\n\n// --- EXTRAÇÃO E TRANSFORMAÇÃO DOS DADOS ---\n\nconst firstName = body['mf-first-name'] || '';\nconst lastName = body['mf-last-name'] || '';\nconst nomeCompleto = normalizeText(`${firstName} ${lastName}`.trim());\n\n// Esta linha agora usará a função corrigida que lida com a string\nconst interesses = mapAndJoinList(body['mf-experience'], interessesMap);\nconst areaFormacao = processAndJoinList(body['mf-degree'], 'area-');\n\n// Lista de links\nconst links = [\n  body['mf-url-1'],\n  body['mf-url-2'],\n  body['mf-url-3']\n].filter(Boolean);\n\n// Criação da célula final de links\nlet linksFormula = '';\nif (links.length === 1) {\n  linksFormula = `=HYPERLINK(\"${links[0]}\"; \"${getLinkLabel(links[0],0)}\")`;\n} else if (links.length > 1) {\n  linksFormula = links.join('\\n');\n}\n\n// --- MONTAGEM DO OBJETO FINAL ---\nconst resultado = {\n  nomeCompleto: nomeCompleto,\n  dataNascimento: body['mf-date-of-birth'] || '',\n  telefone: body['mf-phone'] || '',\n  email: body['mf-email'] || '',\n  cidade: normalizeText(body['mf-city']),\n  estado: (body['mf-state'] || '').toUpperCase(),\n  disponibilidadeViagem: normalizeChoice(body['mf-trip']),\n  setorEletrico: normalizeChoice(body['mf-channel']),\n  areaFormacao: areaFormacao,\n  interesses: interesses, // Com o código novo, o resultado aqui será \"Programação, Ciência de Dados, Inteligência Artificial\"\n  link1: body['mf-url-1'] || '',\n  link2: body['mf-url-2'] || '',\n  link3: body['mf-url-3'] || '',\n  linksFormula: linksFormula,\n  cnh: (body['mf-cnh'] || '').replace('cnh-', '').toUpperCase(),\n  vagaInscrita: body['mf-vaga'] || '',\n  curriculo_url: body['curriculo_url']\n};\n\nreturn [resultado];\n\n// --- FIM DO CÓDIGO ---"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3200,464],"id":"72c5bf77-af6e-433d-8d90-29abee0f5da3","name":"GET_RESUME"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2352,480],"id":"e96e5c09-31ad-4583-864d-73f7f41131d3","name":"Merge"},{"parameters":{"promptType":"define","text":"=Regras de formatação:\n\nRetorno\n\nEnvie apenas um array JSON válido.\n\nNão adicione explicações, comentários ou crases.\n\nCada objeto deve seguir o schema fornecido.\n\nCampos sem informação devem ser enviados como string vazia \"\".\n\nDatas\n\ndataIns: use o formato \"DD/MM/YYYY HH:mm\" com {{ $now.toFormat('dd/MM/yyyy HH:mm') }}.\n\ndataNascimento: se desconhecida, use \"\".\n\nInteresses\n\nMáximo 3, separados por vírgula, escolhidos da lista:\nProjetos Elétricos, Projetos Eletromecânicos, Projeto Civil, BIM, Estudos Elétricos, Sistemas Digitais, Telecomunicações, Engenharia do Proprietário, Testes e Comissionamento, Cibersegurança, Tecnologia da Informação e Inovação.\n\nSe não houver, use \"\".\n\nÁrea de formação\n\nMáximo 2 valores, separados por ;.\n\nPriorize escolher dentro da lista:\nEngenharia Elétrica, Engenharia Eletromecânica, Engenharia Civil, Engenharia de Telecomunicações, Engenharia de Controle e Automação, Engenharia de Computação, Engenharia Mecânica, Engenharia de Produção, Engenharia de Software, Análise e Desenvolvimento de Sistemas, Ciência da Computação, Sistemas de Informação, Técnico em Eletrotécnica, Técnico em Eletrônica, Técnico em Mecânica, Técnico em Telecomunicações, Eletricista.\n\nSe a formação encontrada no currículo não estiver na lista, use exatamente o texto identificado (ex.: Administração, Direito, Economia).\n\nSe não houver informação, use \"\".\nLinks\n\nSe houver link de perfil profissional (LinkedIn, GitHub, etc.), envie apenas a URL junto com a formula =HIPERLINK(\"LINK QUE PEGOU\";\"Link\")\n\nSe não houver, use \"\".\n\nPara webViewLink, use:\nhttps://drive.google.com/file/d/{{ $node[\"Download_file\"].json[\"id\"] }}/view?usp=drivesdk\n\nEstado\n\nUse apenas a sigla (ex.: SP, RJ, MG).\n\nSe desconhecido, use \"\".\n\nCNH\n\nApenas categorias válidas: A, B, AB.\n\nSe não houver, use \"\".\n\nDisponibilidade e setor elétrico\n\ndisponibilidadeViagem: \"Sim\", \"Não\" ou \"\".\n\nsetorEletrico: \"Sim\" se houver experiência, \"Não\" se explicitamente não houver, ou \"\" se não for possível determinar.\n\nCampos obrigatórios\n\nnomeCompleto: todas as primeiras letras maiúsculas, exceto preposições como \"da\", \"de\", \"dos\", \"das\".\n\ntelefone: formato (DDD) 9 XXXX-XXXX para celular ou (DDD) XXXX-XXXX para fixo (sem código de país).\n\nOs campos obrigatórios são: nomeCompleto, telefone, dataNascimento, email, cidade, estado, disponibilidadeViagem, vagaInscrita, dataIns.\n\nSe não houver dado, use \"\".\n\n  {{ $json.text }}","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-2704,720],"id":"d9243170-84e3-48c2-8db7-84f7ae3b51e0","name":"Basic LLM Chain"},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $('Basic LLM Chain').item.json.output[0].webViewLink }}","mode":"url"},"newUpdatedFileName":"={{ $json['Nome Completo'] }}_{{ $json.Estado }}","options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2144,720],"id":"befea95e-148d-477a-bcf9-024a3b7b128a","name":"Update file","retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"i1RZRKtVnky7YUXu","name":"Google Drive account 2"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-3216,720],"id":"2e25f6d3-8eaf-4f70-bbcf-5c84915a1dd2","name":"Download_file","credentials":{"googleDriveOAuth2Api":{"id":"i1RZRKtVnky7YUXu","name":"Google Drive account 2"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-2960,720],"id":"659db6be-0a57-4451-a4db-c70c71590aa7","name":"GET_JSON"},{"parameters":{"httpMethod":"POST","path":"56d6b431-0f39-4ff0-b849-c11133e34390","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-3456,464],"id":"6299e91d-efee-4d3a-9622-aaa029389157","name":"Webhook","webhookId":"56d6b431-0f39-4ff0-b849-c11133e34390","credentials":{"httpHeaderAuth":{"id":"qsTY0idvBrhxfFbW","name":"Header Auth account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1VzRTXVBKr1LwalmR2v6CKq6wyoWn1aSg5hQCmX2AAUU","mode":"list","cachedResultName":"Banco de Talentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VzRTXVBKr1LwalmR2v6CKq6wyoWn1aSg5hQCmX2AAUU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VzRTXVBKr1LwalmR2v6CKq6wyoWn1aSg5hQCmX2AAUU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"dataIns":"={{ $('Basic LLM Chain').item.json.output[0].dataIns }}","Nome Completo":"={{ $('Basic LLM Chain').item.json.output[0].nomeCompleto }}","Data de Nascimento":"={{ $('Basic LLM Chain').item.json.output[0].dataNascimento }}","Telefone":"={{ $('Basic LLM Chain').item.json.output[0].telefone }}","Cidade":"={{ $('Basic LLM Chain').item.json.output[0].cidade }}","E-Mail":"={{ $('Basic LLM Chain').item.json.output[0].email }}","Estado":"={{ $('Basic LLM Chain').item.json.output[0].estado }}","Está disponivel para viagem?":"={{ $('Basic LLM Chain').item.json.output[0].disponibilidadeViagem }}","Setor Elétrico?":"={{ $('Basic LLM Chain').item.json.output[0].setorEletrico }}","Área de formação":"={{ $('Basic LLM Chain').item.json.output[0].areaFormacao }}","Interesses":"={{ $('Basic LLM Chain').item.json.output[0].interesses }}","Links":"={{ $('Basic LLM Chain').item.json.output[0].link }}","Currículo":"==HIPERLINK(\"{{ $('Basic LLM Chain').item.json.output[0].webViewLink }}\";\"Currículo\")","CNH":"={{ $('Basic LLM Chain').item.json.output[0].cnh }}","Vaga ":"={{ $('Basic LLM Chain').item.json.output[0].vagaInscrita }}","Fonte":"Email - Seleção"},"matchingColumns":[],"schema":[{"id":"Nome Completo","displayName":"Nome Completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data de Nascimento","displayName":"Data de Nascimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E-Mail","displayName":"E-Mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Cidade","displayName":"Cidade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Está disponivel para viagem?","displayName":"Está disponivel para viagem?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Setor Elétrico?","displayName":"Setor Elétrico?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Área de formação","displayName":"Área de formação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Interesses","displayName":"Interesses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Currículo","displayName":"Currículo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Links","displayName":"Links","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fonte","displayName":"Fonte","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CNH","displayName":"CNH","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Vaga ","displayName":"Vaga ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dataIns","displayName":"dataIns","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-2336,720],"id":"02b2f998-b34c-45a1-b052-c510d7f354d5","name":"ADD_CANDIDATE_DRIVE","credentials":{"googleSheetsOAuth2Api":{"id":"5uGUQZksI1O6axsA","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1VzRTXVBKr1LwalmR2v6CKq6wyoWn1aSg5hQCmX2AAUU","mode":"list","cachedResultName":"Banco de Talentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VzRTXVBKr1LwalmR2v6CKq6wyoWn1aSg5hQCmX2AAUU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VzRTXVBKr1LwalmR2v6CKq6wyoWn1aSg5hQCmX2AAUU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"dataIns":"={{ $now.toFormat('dd/MM/yyyy HH:mm') }}","Nome Completo":"={{ $json.nomeCompleto }}","Data de Nascimento":"={{ $json.dataNascimento }}","Telefone":"={{ $json.telefone }}","E-Mail":"={{ $json.email }}","Cidade":"={{ $json.cidade }}","Estado":"={{ $json.estado }}","Está disponivel para viagem?":"={{ $json.disponibilidadeViagem }}","Setor Elétrico?":"={{ $json.setorEletrico }}","Área de formação":"={{ $json.areaFormacao }}","Interesses":"={{ $json.interesses }}","Currículo":"==HYPERLINK(\"{{ $json.webViewLink }}\";\"Currículo\")\n","Fonte":"={{ $json.fonte }}","CNH":"={{ $json.cnh }}","Vaga ":"={{ $json.vagaInscrita }}","Links":"={{ $json.linksFormula }}"},"matchingColumns":[],"schema":[{"id":"Nome Completo","displayName":"Nome Completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data de Nascimento","displayName":"Data de Nascimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E-Mail","displayName":"E-Mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Cidade","displayName":"Cidade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Está disponivel para viagem?","displayName":"Está disponivel para viagem?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Setor Elétrico?","displayName":"Setor Elétrico?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Área de formação","displayName":"Área de formação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Interesses","displayName":"Interesses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Currículo","displayName":"Currículo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Links","displayName":"Links","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fonte","displayName":"Fonte","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CNH","displayName":"CNH","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Vaga ","displayName":"Vaga ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dataIns","displayName":"dataIns","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-2144,480],"id":"46768f55-d6b1-4d45-91ba-5446cf971fbf","name":"ADD_CANDIDATE_FORM","credentials":{"googleSheetsOAuth2Api":{"id":"5uGUQZksI1O6axsA","name":"Google Sheets account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2704,880],"id":"288b075c-a862-4aee-aa56-e12af63358e6","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ZOhloDp8D6BxlshB","name":"OpenAi account 2"}}},{"parameters":{"content":"# Automação Forms","height":320,"width":1696},"type":"n8n-nodes-base.stickyNote","position":[-3600,320],"typeVersion":1,"id":"60a24178-bed2-49b3-8fd3-aef7cfb5804e","name":"Sticky Note6"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M","mode":"list","cachedResultName":"Curriculos - Drive","cachedResultUrl":"https://drive.google.com/drive/folders/1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-3456,720],"id":"7142dc79-f018-479a-aba3-2d55b925f846","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"i1RZRKtVnky7YUXu","name":"Google Drive account 2"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"nomeCompleto\": {\n        \"type\": \"string\",\n        \"minLength\": 1\n      },\n      \"dataNascimento\": {\n        \"type\": \"string\"\n      },\n      \"telefone\": {\n        \"type\": \"string\"\n      },\n      \"email\": {\n        \"type\": \"string\"\n      },\n      \"cidade\": {\n        \"type\": \"string\",\n        \"minLength\": 1\n      },\n      \"estado\": {\n        \"type\": \"string\",\n        \"minLength\": 2,\n        \"maxLength\": 2\n      },\n      \"disponibilidadeViagem\": {\n        \"type\": \"string\",\n        \"enum\": [\"Sim\", \"Não\", \"Parcial\", \"\"]\n      },\n      \"setorEletrico\": {\n        \"type\": \"string\"\n      },\n      \"areaFormacao\": {\n        \"type\": \"string\"\n      },\n      \"interesses\": {\n        \"type\": \"string\"\n      },\n      \"link\": {\n        \"type\": \"string\"\n      },\n      \"webViewLink\": {\n        \"type\": \"string\"\n      },\n      \"cnh\": {\n        \"type\": \"string\",\n        \"enum\": [\"A\", \"B\", \"AB\", \"\"]\n      },\n      \"vagaInscrita\": {\n        \"type\": \"string\"\n      },\n      \"dataIns\": {\n        \"type\": \"string\"\n      }\n    },\n    \"required\": [\n      \"nomeCompleto\",\n      \"dataNascimento\",\n      \"telefone\",\n      \"email\",\n      \"cidade\",\n      \"estado\",\n      \"disponibilidadeViagem\",\n      \"vagaInscrita\",\n      \"dataIns\"\n    ],\n    \"additionalProperties\": false\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2560,880],"id":"d127117d-5b67-4116-94e4-a07d16b4ddd8","name":"Structured Output Parser"},{"parameters":{"content":"# Automação Drive\n","height":384,"width":1696,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-3600,640],"typeVersion":1,"id":"889e9074-9dc5-4fa8-81b8-a38ac6b42dd1","name":"Sticky Note5"}],"connections":{"UPLOAD_RESUME":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"HTTP_RESUME":{"main":[[{"node":"UPLOAD_RESUME","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"GET_RESUME":{"main":[[{"node":"HTTP_RESUME","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"ADD_CANDIDATE_FORM","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"ADD_CANDIDATE_DRIVE","type":"main","index":0}]]},"Update file":{"main":[[]]},"Download_file":{"main":[[{"node":"GET_JSON","type":"main","index":0}]]},"GET_JSON":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"GET_RESUME","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Google Drive Trigger":{"main":[[{"node":"Download_file","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"ADD_CANDIDATE_DRIVE":{"main":[[{"node":"Update file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:30 minute Trigger":{"recurrenceRules":[]},"node:Google Drive Trigger":{"lastTimeChecked":"2025-09-15T14:49:56Z"},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Google Drive Trigger":[{"json":{"parents":["1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M"],"lastModifyingUser":{"displayName":"N8N ESC","kind":"drive#user","me":true,"permissionId":"07766998593574246975","emailAddress":"n8nesc@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64"},"owners":[{"displayName":"N8N ESC","kind":"drive#user","me":true,"permissionId":"07766998593574246975","emailAddress":"n8nesc@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64"}],"permissions":[{"kind":"drive#permission","id":"14284107074468724408","type":"user","emailAddress":"mariaeduarda.lauriano@esc.com.br","role":"writer","displayName":"mariaeduarda.lauriano","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"07766998593574246975","type":"user","emailAddress":"n8nesc@gmail.com","role":"owner","displayName":"N8N ESC","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"09452354681220396560","type":"user","emailAddress":"selecaoescrh@gmail.com","role":"writer","displayName":"selecaoescrh","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXyMqz5p8U_blSTGyrFocx1XUBluuaRlegj4djq8PyAbXvlww=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"permissionIds":["14284107074468724408","07766998593574246975","09452354681220396560"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"1Q6tpiEFGbWCyOFzxuK_86pPYA_ec-W-v","name":"PE_CAIO MAGALHÃES.pdf","mimeType":"application/pdf","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"3","webContentLink":"https://drive.google.com/uc?id=1Q6tpiEFGbWCyOFzxuK_86pPYA_ec-W-v&export=download","webViewLink":"https://drive.google.com/file/d/1Q6tpiEFGbWCyOFzxuK_86pPYA_ec-W-v/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/pdf","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBOrxVd1FOoKL1UMk0_RyDEH-9RBJFLrTf6pLXblQ-SqyW1o_-Sao8OWM1qSCFMY5P_BDo8L-sljDSb2nIel4ElJf5Y1rddVK_r-GOwXEGckJxw=s220","thumbnailVersion":"1","viewedByMe":true,"viewedByMeTime":"2025-09-15T14:46:50.693Z","createdTime":"2025-09-15T14:46:50.693Z","modifiedTime":"2025-09-15T14:25:08.000Z","modifiedByMeTime":"2025-09-15T14:25:08.000Z","modifiedByMe":true,"shared":true,"ownedByMe":true,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"PE_CAIO MAGALHÃES.pdf","fullFileExtension":"pdf","fileExtension":"pdf","md5Checksum":"813b245e51781194de4b1f40ead7b79d","sha1Checksum":"fffa43580bcf792a3931d124a55d8e029f8656f2","sha256Checksum":"2aadff7d4a5f1e461efb481a9dcca8d07c78bb5b16ed0a5b14a435774b528319","size":"135591","quotaBytesUsed":"135591","headRevisionId":"0B4Jg_-q7LveUeHFHa3BqbWJIOXRKVjJESjBnSVhYWERRUThjPQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}},{"json":{"parents":["1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M"],"lastModifyingUser":{"displayName":"N8N ESC","kind":"drive#user","me":true,"permissionId":"07766998593574246975","emailAddress":"n8nesc@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64"},"owners":[{"displayName":"N8N ESC","kind":"drive#user","me":true,"permissionId":"07766998593574246975","emailAddress":"n8nesc@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64"}],"permissions":[{"kind":"drive#permission","id":"14284107074468724408","type":"user","emailAddress":"mariaeduarda.lauriano@esc.com.br","role":"writer","displayName":"mariaeduarda.lauriano","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"07766998593574246975","type":"user","emailAddress":"n8nesc@gmail.com","role":"owner","displayName":"N8N ESC","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"09452354681220396560","type":"user","emailAddress":"selecaoescrh@gmail.com","role":"writer","displayName":"selecaoescrh","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXyMqz5p8U_blSTGyrFocx1XUBluuaRlegj4djq8PyAbXvlww=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"permissionIds":["14284107074468724408","07766998593574246975","09452354681220396560"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"1Kh8phoJ1gB2J2HrBCM4qxg6rvbQ-Xbnj","name":"CE_EMANUEL DOS SANTOS.pdf","mimeType":"application/pdf","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"3","webContentLink":"https://drive.google.com/uc?id=1Kh8phoJ1gB2J2HrBCM4qxg6rvbQ-Xbnj&export=download","webViewLink":"https://drive.google.com/file/d/1Kh8phoJ1gB2J2HrBCM4qxg6rvbQ-Xbnj/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/pdf","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBMA-2VgD4lK303-AIBw4L-jOPCMe1pjmZnONDeO9LKFT0tuQMxz2gkx8NIxHez0pPe8UZBRTcsxggUGkuzzpm3pK_JS23315Y0zghOsoGmCyuA=s220","thumbnailVersion":"1","viewedByMe":true,"viewedByMeTime":"2025-09-15T14:46:50.688Z","createdTime":"2025-09-15T14:46:50.688Z","modifiedTime":"2025-09-15T14:18:46.000Z","modifiedByMeTime":"2025-09-15T14:18:46.000Z","modifiedByMe":true,"shared":true,"ownedByMe":true,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"CE_EMANUEL DOS SANTOS.pdf","fullFileExtension":"pdf","fileExtension":"pdf","md5Checksum":"76579fcd29fe6dd22e5ff74005c92dc7","sha1Checksum":"d5fdf4d3916eff845af73fe2c8ad8259338feaf4","sha256Checksum":"8c04ff95f9e07bbc188c94a55a04686e9616d4aa6dfb1d71fc96fb4e5b5b918d","size":"283042","quotaBytesUsed":"283042","headRevisionId":"0B4Jg_-q7LveUZFZEdzhLYnNtZnFYYXU1Q0o4a0R5cFFrSmdjPQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}},{"json":{"parents":["1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M"],"lastModifyingUser":{"displayName":"N8N ESC","kind":"drive#user","me":true,"permissionId":"07766998593574246975","emailAddress":"n8nesc@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64"},"owners":[{"displayName":"N8N ESC","kind":"drive#user","me":true,"permissionId":"07766998593574246975","emailAddress":"n8nesc@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64"}],"permissions":[{"kind":"drive#permission","id":"14284107074468724408","type":"user","emailAddress":"mariaeduarda.lauriano@esc.com.br","role":"writer","displayName":"mariaeduarda.lauriano","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"07766998593574246975","type":"user","emailAddress":"n8nesc@gmail.com","role":"owner","displayName":"N8N ESC","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"09452354681220396560","type":"user","emailAddress":"selecaoescrh@gmail.com","role":"writer","displayName":"selecaoescrh","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXyMqz5p8U_blSTGyrFocx1XUBluuaRlegj4djq8PyAbXvlww=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"permissionIds":["14284107074468724408","07766998593574246975","09452354681220396560"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"10Df87as1Jp8I00Jgp3R47ymHvwmfTEBA","name":"PE_JÉSSICA DE SANTANA.pdf","mimeType":"application/pdf","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"3","webContentLink":"https://drive.google.com/uc?id=10Df87as1Jp8I00Jgp3R47ymHvwmfTEBA&export=download","webViewLink":"https://drive.google.com/file/d/10Df87as1Jp8I00Jgp3R47ymHvwmfTEBA/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/pdf","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBMdGXxwgAXAWFYt7BMuQHHlJ_0U9Q8I8ycKjT2figBKXy2PJMnVpbURuQwUp_bE_BUB6UCeDT1pZp3C9ZnjKXPMTH5vhpQbCnV6RRBrzQg5s84=s220","thumbnailVersion":"1","viewedByMe":true,"viewedByMeTime":"2025-09-15T14:46:50.720Z","createdTime":"2025-09-15T14:46:50.720Z","modifiedTime":"2025-09-15T14:17:52.000Z","modifiedByMeTime":"2025-09-15T14:17:52.000Z","modifiedByMe":true,"shared":true,"ownedByMe":true,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"PE_JÉSSICA DE SANTANA.pdf","fullFileExtension":"pdf","fileExtension":"pdf","md5Checksum":"9919b0763032ba988373c200735ca561","sha1Checksum":"f86ad072d79712e9fafb8e8b5684058422877962","sha256Checksum":"d6554306b63299bdddeb44ec5baf35c0cbbe74f2f2e8951b89d1aa77fbba3a77","size":"237943","quotaBytesUsed":"237943","headRevisionId":"0B4Jg_-q7LveUQjFoZlJxa210MUJKTHhqMFAwc2cyMTQzWmZNPQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}},{"json":{"parents":["1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M"],"lastModifyingUser":{"displayName":"N8N ESC","kind":"drive#user","me":true,"permissionId":"07766998593574246975","emailAddress":"n8nesc@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64"},"owners":[{"displayName":"N8N ESC","kind":"drive#user","me":true,"permissionId":"07766998593574246975","emailAddress":"n8nesc@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64"}],"permissions":[{"kind":"drive#permission","id":"14284107074468724408","type":"user","emailAddress":"mariaeduarda.lauriano@esc.com.br","role":"writer","displayName":"mariaeduarda.lauriano","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"07766998593574246975","type":"user","emailAddress":"n8nesc@gmail.com","role":"owner","displayName":"N8N ESC","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"09452354681220396560","type":"user","emailAddress":"selecaoescrh@gmail.com","role":"writer","displayName":"selecaoescrh","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXyMqz5p8U_blSTGyrFocx1XUBluuaRlegj4djq8PyAbXvlww=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"permissionIds":["14284107074468724408","07766998593574246975","09452354681220396560"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"1nsMDy83-7y6q1SymW9Y5_G0vqv75M9ZX","name":"PE_MARIANA RIBEIRO.pdf","mimeType":"application/pdf","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"3","webContentLink":"https://drive.google.com/uc?id=1nsMDy83-7y6q1SymW9Y5_G0vqv75M9ZX&export=download","webViewLink":"https://drive.google.com/file/d/1nsMDy83-7y6q1SymW9Y5_G0vqv75M9ZX/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/pdf","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBMrV44J9s6iiHeYqWvAf4wDmKmdjJOhUDjw5WFbwbzfOyIGwxEmVtadgcMVXLkNqLxxYLjrGN67TvpE4q05zgvVrsFFjnnTRk9hCYbfTj-DxuM=s220","thumbnailVersion":"1","viewedByMe":true,"viewedByMeTime":"2025-09-15T14:46:50.706Z","createdTime":"2025-09-15T14:46:50.706Z","modifiedTime":"2025-09-15T14:16:05.000Z","modifiedByMeTime":"2025-09-15T14:16:05.000Z","modifiedByMe":true,"shared":true,"ownedByMe":true,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"PE_MARIANA RIBEIRO.pdf","fullFileExtension":"pdf","fileExtension":"pdf","md5Checksum":"785e283466a86f3f9907998199a4c0f8","sha1Checksum":"cf738e92f4332e95b6c18c610b84b3e682a04012","sha256Checksum":"317af25bcd8e64facaa9c1bf4152326baae712443f21e020c74444d251d0a511","size":"94346","quotaBytesUsed":"94346","headRevisionId":"0B4Jg_-q7LveUbWNSKzdJZ0JxanVrU0dwUXIvZlhwYW1EOWpZPQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}},{"json":{"parents":["1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M"],"lastModifyingUser":{"displayName":"N8N ESC","kind":"drive#user","me":true,"permissionId":"07766998593574246975","emailAddress":"n8nesc@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64"},"owners":[{"displayName":"N8N ESC","kind":"drive#user","me":true,"permissionId":"07766998593574246975","emailAddress":"n8nesc@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64"}],"permissions":[{"kind":"drive#permission","id":"14284107074468724408","type":"user","emailAddress":"mariaeduarda.lauriano@esc.com.br","role":"writer","displayName":"mariaeduarda.lauriano","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"07766998593574246975","type":"user","emailAddress":"n8nesc@gmail.com","role":"owner","displayName":"N8N ESC","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"09452354681220396560","type":"user","emailAddress":"selecaoescrh@gmail.com","role":"writer","displayName":"selecaoescrh","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXyMqz5p8U_blSTGyrFocx1XUBluuaRlegj4djq8PyAbXvlww=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"permissionIds":["14284107074468724408","07766998593574246975","09452354681220396560"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"1QFrh-d9Ky0uhzYpBs--bsaZDv_m6GTzc","name":"PE_JULIANE DE SOUZA.pdf","mimeType":"application/pdf","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"3","webContentLink":"https://drive.google.com/uc?id=1QFrh-d9Ky0uhzYpBs--bsaZDv_m6GTzc&export=download","webViewLink":"https://drive.google.com/file/d/1QFrh-d9Ky0uhzYpBs--bsaZDv_m6GTzc/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/pdf","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBM_HT8K-gTicUVMVunqRE6mNwgP90BC04lTcyrgZZNzNpg6o_5AozbdZOyRcATJLHnPsw88TnVVtATdawe2JAoSoAgIYMJzRAhEsAvzBFRpKNA=s220","thumbnailVersion":"1","viewedByMe":true,"viewedByMeTime":"2025-09-15T14:46:50.518Z","createdTime":"2025-09-15T14:46:50.518Z","modifiedTime":"2025-09-15T14:12:42.000Z","modifiedByMeTime":"2025-09-15T14:12:42.000Z","modifiedByMe":true,"shared":true,"ownedByMe":true,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"PE_JULIANE DE SOUZA.pdf","fullFileExtension":"pdf","fileExtension":"pdf","md5Checksum":"79aad9089486e0d5c8a08fdc9256251f","sha1Checksum":"ef8311d2aa840de751b8fd42bfdff77b76216849","sha256Checksum":"9b978628fcdb9b9157b651df8190ac79b48dd5b90fd5c96bb781b02643aa2296","size":"30983","quotaBytesUsed":"30983","headRevisionId":"0B4Jg_-q7LveUQmNYbWJQYjhQWFdCWWFJN1NjUi95aXpNN0h3PQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}},{"json":{"parents":["1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M"],"lastModifyingUser":{"displayName":"N8N ESC","kind":"drive#user","me":true,"permissionId":"07766998593574246975","emailAddress":"n8nesc@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64"},"owners":[{"displayName":"N8N ESC","kind":"drive#user","me":true,"permissionId":"07766998593574246975","emailAddress":"n8nesc@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64"}],"permissions":[{"kind":"drive#permission","id":"14284107074468724408","type":"user","emailAddress":"mariaeduarda.lauriano@esc.com.br","role":"writer","displayName":"mariaeduarda.lauriano","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"07766998593574246975","type":"user","emailAddress":"n8nesc@gmail.com","role":"owner","displayName":"N8N ESC","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"09452354681220396560","type":"user","emailAddress":"selecaoescrh@gmail.com","role":"writer","displayName":"selecaoescrh","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXyMqz5p8U_blSTGyrFocx1XUBluuaRlegj4djq8PyAbXvlww=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"permissionIds":["14284107074468724408","07766998593574246975","09452354681220396560"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"1G4SDbk3WLyOFkwewXNF1Ix-jCkBAF9M4","name":"PE_BRENO DE SOUZA.pdf","mimeType":"application/pdf","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"3","webContentLink":"https://drive.google.com/uc?id=1G4SDbk3WLyOFkwewXNF1Ix-jCkBAF9M4&export=download","webViewLink":"https://drive.google.com/file/d/1G4SDbk3WLyOFkwewXNF1Ix-jCkBAF9M4/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/pdf","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBOgJo1-k-q2CSJYqzeQHYLpEM16a5BGNj3WFX1Y_96DAN1p7R1KN6oIvpLfrBhtQK7MFV2GYkhlyWZAZ-CqMzsfLhuTh_rjnmrvqJcGA2pQIFc=s220","thumbnailVersion":"1","viewedByMe":true,"viewedByMeTime":"2025-09-15T14:46:50.482Z","createdTime":"2025-09-15T14:46:50.482Z","modifiedTime":"2025-09-15T14:11:42.000Z","modifiedByMeTime":"2025-09-15T14:11:42.000Z","modifiedByMe":true,"shared":true,"ownedByMe":true,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"PE_BRENO DE SOUZA.pdf","fullFileExtension":"pdf","fileExtension":"pdf","md5Checksum":"dcd6def972b8bb9e77cdcea7349ac1c2","sha1Checksum":"ba5ce6d6e41ba6aba5f15e7bcc44679d53bd1aa5","sha256Checksum":"964cb7e425aefa40d79922bfe1f411264c83fce24fc36778a517a30563c49fdc","size":"147162","quotaBytesUsed":"147162","headRevisionId":"0B4Jg_-q7LveUYUozbk9jbEdxV3FaWlRxUGVxWFRXeUhESFpFPQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}},{"json":{"parents":["1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M"],"lastModifyingUser":{"displayName":"N8N ESC","kind":"drive#user","me":true,"permissionId":"07766998593574246975","emailAddress":"n8nesc@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64"},"owners":[{"displayName":"N8N ESC","kind":"drive#user","me":true,"permissionId":"07766998593574246975","emailAddress":"n8nesc@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64"}],"permissions":[{"kind":"drive#permission","id":"14284107074468724408","type":"user","emailAddress":"mariaeduarda.lauriano@esc.com.br","role":"writer","displayName":"mariaeduarda.lauriano","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"07766998593574246975","type":"user","emailAddress":"n8nesc@gmail.com","role":"owner","displayName":"N8N ESC","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"09452354681220396560","type":"user","emailAddress":"selecaoescrh@gmail.com","role":"writer","displayName":"selecaoescrh","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXyMqz5p8U_blSTGyrFocx1XUBluuaRlegj4djq8PyAbXvlww=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"permissionIds":["14284107074468724408","07766998593574246975","09452354681220396560"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"19X0spDH82kb1nwdVUbge-zTSL0a3wpCG","name":"PE_VITÓRIA CAMILA.pdf","mimeType":"application/pdf","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"3","webContentLink":"https://drive.google.com/uc?id=19X0spDH82kb1nwdVUbge-zTSL0a3wpCG&export=download","webViewLink":"https://drive.google.com/file/d/19X0spDH82kb1nwdVUbge-zTSL0a3wpCG/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/pdf","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBNcGH92MUnvBlHAf5lUawnHKGZKAo5wabr4KGdCsyn5HOgvT39FcjS2ln6UtEE1uUapeviHoT181lnSN3CV9uYc7HyQS3DJDVRKWA70ceXj_jk=s220","thumbnailVersion":"1","viewedByMe":true,"viewedByMeTime":"2025-09-15T14:46:50.868Z","createdTime":"2025-09-15T14:46:50.868Z","modifiedTime":"2025-09-15T14:10:28.000Z","modifiedByMeTime":"2025-09-15T14:10:28.000Z","modifiedByMe":true,"shared":true,"ownedByMe":true,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"PE_VITÓRIA CAMILA.pdf","fullFileExtension":"pdf","fileExtension":"pdf","md5Checksum":"43d9842000df538050736e24c57b5d07","sha1Checksum":"72ac6656f7e3ed412d24648000774161cc6e6ee4","sha256Checksum":"e1829bc5a45804be1cfe945d2eea4e0283067110d4944232151996ebcc5bbe1b","size":"118253","quotaBytesUsed":"118253","headRevisionId":"0B4Jg_-q7LveUZkZUNU9nVjNkd3M5S1RldjNTSzJBQ0phOWFNPQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}},{"json":{"parents":["1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M"],"lastModifyingUser":{"displayName":"N8N ESC","kind":"drive#user","me":true,"permissionId":"07766998593574246975","emailAddress":"n8nesc@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64"},"owners":[{"displayName":"N8N ESC","kind":"drive#user","me":true,"permissionId":"07766998593574246975","emailAddress":"n8nesc@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64"}],"permissions":[{"kind":"drive#permission","id":"14284107074468724408","type":"user","emailAddress":"mariaeduarda.lauriano@esc.com.br","role":"writer","displayName":"mariaeduarda.lauriano","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"07766998593574246975","type":"user","emailAddress":"n8nesc@gmail.com","role":"owner","displayName":"N8N ESC","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"09452354681220396560","type":"user","emailAddress":"selecaoescrh@gmail.com","role":"writer","displayName":"selecaoescrh","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXyMqz5p8U_blSTGyrFocx1XUBluuaRlegj4djq8PyAbXvlww=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"permissionIds":["14284107074468724408","07766998593574246975","09452354681220396560"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"1-boZj8oY_XLYlZau77ultaiXZ-uIta2G","name":"PE_LARISSA DOS SANTOS.pdf","mimeType":"application/pdf","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"3","webContentLink":"https://drive.google.com/uc?id=1-boZj8oY_XLYlZau77ultaiXZ-uIta2G&export=download","webViewLink":"https://drive.google.com/file/d/1-boZj8oY_XLYlZau77ultaiXZ-uIta2G/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/pdf","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBPE70ZMqUzGwLmscCum6Gnf-IDM-iWkh8muX8YFloq63h2JRHmmd0qiCIfcs3q4sbrLm-h6bisWgUMc4wC4spRSWXMyQOHu18e2IsOoKp-3ynI=s220","thumbnailVersion":"1","viewedByMe":true,"viewedByMeTime":"2025-09-15T14:46:50.564Z","createdTime":"2025-09-15T14:46:50.564Z","modifiedTime":"2025-09-15T13:54:56.000Z","modifiedByMeTime":"2025-09-15T13:54:56.000Z","modifiedByMe":true,"shared":true,"ownedByMe":true,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"PE_LARISSA DOS SANTOS.pdf","fullFileExtension":"pdf","fileExtension":"pdf","md5Checksum":"1516e77b57b2e844791b222ba50414de","sha1Checksum":"443daf89a445ebbb4e60548e21a0dcb16c8e322c","sha256Checksum":"b717c5a8eff84dbc43f9257defa2a2707ed49e8b50664a42347cedcd8bc269e0","size":"3224","quotaBytesUsed":"3224","headRevisionId":"0B4Jg_-q7LveUWE1GWDl1cDVzNHlEcTJ2SkRDUXFGTTgzYk5nPQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}},{"json":{"parents":["1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M"],"lastModifyingUser":{"displayName":"N8N ESC","kind":"drive#user","me":true,"permissionId":"07766998593574246975","emailAddress":"n8nesc@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64"},"owners":[{"displayName":"N8N ESC","kind":"drive#user","me":true,"permissionId":"07766998593574246975","emailAddress":"n8nesc@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64"}],"permissions":[{"kind":"drive#permission","id":"14284107074468724408","type":"user","emailAddress":"mariaeduarda.lauriano@esc.com.br","role":"writer","displayName":"mariaeduarda.lauriano","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"07766998593574246975","type":"user","emailAddress":"n8nesc@gmail.com","role":"owner","displayName":"N8N ESC","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"09452354681220396560","type":"user","emailAddress":"selecaoescrh@gmail.com","role":"writer","displayName":"selecaoescrh","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXyMqz5p8U_blSTGyrFocx1XUBluuaRlegj4djq8PyAbXvlww=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"permissionIds":["14284107074468724408","07766998593574246975","09452354681220396560"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"1eoeLUgY4NENkpCEMjpbGfWwAQTyD9BVF","name":"PE_NATAILSON DA SILVA.pdf","mimeType":"application/pdf","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"3","webContentLink":"https://drive.google.com/uc?id=1eoeLUgY4NENkpCEMjpbGfWwAQTyD9BVF&export=download","webViewLink":"https://drive.google.com/file/d/1eoeLUgY4NENkpCEMjpbGfWwAQTyD9BVF/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/pdf","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBMzNlI4IqMNt3uGeuWPPh6MqjCvwmf0mo4tPLM_Oio7fbn73IDZYmi-qxQaPfRpfyKz8t6FZ5LAKkwq_AdSNiya_DukW1qWkvg8_cfiNjv2we0=s220","thumbnailVersion":"1","viewedByMe":true,"viewedByMeTime":"2025-09-15T14:46:50.784Z","createdTime":"2025-09-15T14:46:50.784Z","modifiedTime":"2025-09-15T13:54:08.000Z","modifiedByMeTime":"2025-09-15T13:54:08.000Z","modifiedByMe":true,"shared":true,"ownedByMe":true,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"PE_NATAILSON DA SILVA.pdf","fullFileExtension":"pdf","fileExtension":"pdf","md5Checksum":"339534b4abef95ab184007d9aa4e3da1","sha1Checksum":"fd3669896eadc96f62f88eefcb9eee79a1e0c835","sha256Checksum":"3fdb5a2b15596fba4ec851144aa65737bfac967fe80577e31a22df702a9040bd","size":"287884","quotaBytesUsed":"287884","headRevisionId":"0B4Jg_-q7LveUK0lMN3UwaTdMeVlOdDAxZFdkdzVNeTRNOFBzPQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}},{"json":{"parents":["1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M"],"lastModifyingUser":{"displayName":"N8N ESC","kind":"drive#user","me":true,"permissionId":"07766998593574246975","emailAddress":"n8nesc@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64"},"owners":[{"displayName":"N8N ESC","kind":"drive#user","me":true,"permissionId":"07766998593574246975","emailAddress":"n8nesc@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64"}],"permissions":[{"kind":"drive#permission","id":"14284107074468724408","type":"user","emailAddress":"mariaeduarda.lauriano@esc.com.br","role":"writer","displayName":"mariaeduarda.lauriano","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"07766998593574246975","type":"user","emailAddress":"n8nesc@gmail.com","role":"owner","displayName":"N8N ESC","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"09452354681220396560","type":"user","emailAddress":"selecaoescrh@gmail.com","role":"writer","displayName":"selecaoescrh","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXyMqz5p8U_blSTGyrFocx1XUBluuaRlegj4djq8PyAbXvlww=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"permissionIds":["14284107074468724408","07766998593574246975","09452354681220396560"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"158pQjJQVD99IKCCZmZIJaasyzkX83YAK","name":"Patricia Lira.pdf","mimeType":"application/pdf","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"3","webContentLink":"https://drive.google.com/uc?id=158pQjJQVD99IKCCZmZIJaasyzkX83YAK&export=download","webViewLink":"https://drive.google.com/file/d/158pQjJQVD99IKCCZmZIJaasyzkX83YAK/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/pdf","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBMCCEVnjKf-dgiA-BahB6IuFKu_PpUhxG07M2xEbyv1W1OOY3E5CzEx7euOJ0-HqJKdv_cUad_Hk5qTuFUmLokJuMeB9xmwNjqveOqo1B05HM4=s220","thumbnailVersion":"1","viewedByMe":true,"viewedByMeTime":"2025-09-15T14:46:50.519Z","createdTime":"2025-09-15T14:46:50.519Z","modifiedTime":"2025-09-12T20:14:08.000Z","modifiedByMeTime":"2025-09-12T20:14:08.000Z","modifiedByMe":true,"shared":true,"ownedByMe":true,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"Patricia Lira.pdf","fullFileExtension":"pdf","fileExtension":"pdf","md5Checksum":"c3879c84db425a5cbcae9ceba2315185","sha1Checksum":"a71e3b824a9fd035c054a27c63cabd9745b1802f","sha256Checksum":"9f5d833464d0ca994312eef634cff84ec7bda3c918abaa17fb03b284bda1e2a1","size":"83521","quotaBytesUsed":"83521","headRevisionId":"0B4Jg_-q7LveUdGxGa1VVd0xPZWVuRmZjY0IyQmNuUE03RmNrPQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}}]},"versionId":"489489a2-2977-40fd-a9d8-a0018c0a8861","triggerCount":2,"shared":[{"createdAt":"2025-08-25T18:22:48.553Z","updatedAt":"2025-08-25T18:22:48.553Z","role":"workflow:owner","workflowId":"VlYisriLfzpBuIWR","projectId":"jJAHNbybBNBtw3OW"}],"tags":[]}