banco-talentos-VlYisriLfzpBuIWR.json
{"createdAt":"2025-08-25T18:22:48.553Z","updatedAt":"2025-09-11T17:50:22.588Z","id":"VlYisriLfzpBuIWR","name":"Banco-Talentos","active":true,"isArchived":false,"nodes":[{"parameters":{"inputDataFieldName":"=data","name":"={{ $json.nomeCompleto }}_{{ $json.estado }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1ef4F71ReWLdjWMGQl4povIiXSIBtpbwT","mode":"list","cachedResultName":"Curriculos Forms","cachedResultUrl":"https://drive.google.com/drive/folders/1ef4F71ReWLdjWMGQl4povIiXSIBtpbwT"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2768,352],"id":"d52b3cd7-07ef-468e-8ac7-caf348ad90a7","name":"UPLOAD_RESUME","retryOnFail":false,"credentials":{"googleDriveOAuth2Api":{"id":"i1RZRKtVnky7YUXu","name":"Google Drive account 2"}}},{"parameters":{"url":"={{ $json.curriculo_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2960,352],"id":"cb808388-4445-46f2-8614-51b1e54fa042","name":"HTTP_RESUME","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"6ad0401b-7398-4e6f-8883-d1347628811e","name":"webViewLink","value":"={{ $json.webViewLink }}","type":"string"},{"id":"9d0ee7b9-bea0-4218-ade3-21a3a8c4e73f","name":"fonte","value":"Formulário - Site","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2608,352],"id":"1e71c6ce-5b41-49f8-8767-9c96048da9a8","name":"Edit Fields2"},{"parameters":{"jsCode":"// --- INÍCIO DO CÓDIGO CORRIGIDO E MELHORADO ---\n\nconst body = $input.first().json.body;\n\n// Mapa para traduzir as áreas de interesse (chaves) para seus nomes completos (valores)\nconst interessesMap = {\n  'exp-elm': 'Projeto Eletromecânico',\n  'exp-spcs': 'Projeto de SPCS',\n  'exp-cv': 'Projeto Civil',\n  'exp-scada': 'Supervisórios (Sage, Elipse, WinCC, etc)',\n  'exp-param': 'Parametrização de Relés ou CLPs',\n  'exp-test': 'Testes e Comissionamento',\n  'exp-est': 'Estudos Elétricos',\n  'exp-bim': 'BIM',\n  'exp-prog': 'Programação',\n  'exp-red': 'Redes e Protocolos (TCP/IP, DNP3, MMS, Goose)',\n  'exp-tel': 'Telecomunicações (SDH, PDH, OPLAT, MPLS, Wireless, CFTV)',\n  'exp-ciber': 'Cibersegurança',\n  'exp-ti': 'Tecnologia da Informação',\n  'exp-data': 'Ciência de Dados',\n  'exp-ia': 'Inteligência Artificial',\n  'exp-com': 'Comercial',\n  'exp-fin': 'Financeiro',\n  'exp-cont': 'Contábil',\n  'exp-rh': 'Recursos Humanos',\n  'exp-ge': 'Gestão de Pessoas',\n  'exp-gp': 'Gerência de Projetos'\n};\n\n// Função para normalizar texto em Title Case\nfunction normalizeText(text) {\n  if (!text || typeof text !== 'string') return '';\n  const prepositions = ['de', 'da', 'do', 'das', 'dos', 'e'];\n  return text.toLowerCase().split(' ').map((word, index) => {\n    if (index > 0 && prepositions.includes(word)) return word;\n    return word.charAt(0).toUpperCase() + word.slice(1);\n  }).join(' ');\n}\n\n// Converte escolhas binárias em \"Sim\" ou \"Não\"\nfunction normalizeChoice(value) {\n  if (!value || typeof value !== 'string') return '';\n  const lower = value.toLowerCase();\n  if (lower.includes('yes')) return 'Sim';\n  if (lower.includes('no')) return 'Não';\n  return '';\n}\n\n// Função mantida para processar outras listas\nfunction processAndJoinList(rawData, prefixToRemove) {\n  if (!rawData) return '';\n  const arr = Array.isArray(rawData) ? rawData : [rawData];\n  return arr.map(item => normalizeText(item.replace(prefixToRemove,'').replace(/-/g,' '))).join(', ');\n}\n\n// ATUALIZADO: Função agora lida com strings separadas por vírgula\nfunction mapAndJoinList(rawData, map) {\n  if (!rawData) return '';\n  \n  let arr = [];\n  // Verifica se o dado é uma string e a divide em um array.\n  // Se já for um array, usa-o diretamente.\n  if (typeof rawData === 'string') {\n    arr = rawData.split(',');\n  } else if (Array.isArray(rawData)) {\n    arr = rawData;\n  } else {\n    // Se não for nenhum dos dois, retorna uma string vazia para evitar erros\n    return '';\n  }\n  \n  return arr.map(item => {\n    // Garante que o item é uma string e remove espaços extras\n    const cleanItem = typeof item === 'string' ? item.trim() : '';\n    // Busca o item \"limpo\" no mapa. Se não encontrar, retorna o próprio item como fallback.\n    return map[cleanItem] || item; \n  }).join(', ');\n}\n\n// Função para gerar rótulo personalizado de link\nfunction getLinkLabel(link, index) {\n  if (!link) return '';\n  const lower = link.toLowerCase();\n  if (lower.includes('linkedin.com')) return 'LinkedIn';\n  if (lower.includes('github.com')) return 'GitHub';\n  if (lower.includes('openai.com')) return 'OpenAI';\n  if (lower.includes('twitter.com')) return 'Twitter';\n  if (lower.includes('facebook.com')) return 'Facebook';\n  return `Link ${index + 1}`;\n}\n\n// --- EXTRAÇÃO E TRANSFORMAÇÃO DOS DADOS ---\n\nconst firstName = body['mf-first-name'] || '';\nconst lastName = body['mf-last-name'] || '';\nconst nomeCompleto = normalizeText(`${firstName} ${lastName}`.trim());\n\n// Esta linha agora usará a função corrigida que lida com a string\nconst interesses = mapAndJoinList(body['mf-experience'], interessesMap);\nconst areaFormacao = processAndJoinList(body['mf-degree'], 'area-');\n\n// Lista de links\nconst links = [\n  body['mf-url-1'],\n  body['mf-url-2'],\n  body['mf-url-3']\n].filter(Boolean);\n\n// Criação da célula final de links\nlet linksFormula = '';\nif (links.length === 1) {\n  linksFormula = `=HYPERLINK(\"${links[0]}\"; \"${getLinkLabel(links[0],0)}\")`;\n} else if (links.length > 1) {\n  linksFormula = links.join('\\n');\n}\n\n// --- MONTAGEM DO OBJETO FINAL ---\nconst resultado = {\n  nomeCompleto: nomeCompleto,\n  dataNascimento: body['mf-date-of-birth'] || '',\n  telefone: body['mf-phone'] || '',\n  email: body['mf-email'] || '',\n  cidade: normalizeText(body['mf-city']),\n  estado: (body['mf-state'] || '').toUpperCase(),\n  disponibilidadeViagem: normalizeChoice(body['mf-trip']),\n  setorEletrico: normalizeChoice(body['mf-channel']),\n  areaFormacao: areaFormacao,\n  interesses: interesses, // Com o código novo, o resultado aqui será \"Programação, Ciência de Dados, Inteligência Artificial\"\n  link1: body['mf-url-1'] || '',\n  link2: body['mf-url-2'] || '',\n  link3: body['mf-url-3'] || '',\n  linksFormula: linksFormula,\n  cnh: (body['mf-cnh'] || '').replace('cnh-', '').toUpperCase(),\n  vagaInscrita: body['mf-vaga'] || '',\n  curriculo_url: body['curriculo_url']\n};\n\nreturn [resultado];\n\n// --- FIM DO CÓDIGO ---"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3200,464],"id":"72c5bf77-af6e-433d-8d90-29abee0f5da3","name":"GET_RESUME"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2352,480],"id":"e96e5c09-31ad-4583-864d-73f7f41131d3","name":"Merge"},{"parameters":{"promptType":"define","text":"=Regras de formatação:\n\nRetorno\n\nEnvie apenas um array JSON válido.\n\nNão adicione explicações, comentários ou crases.\n\nCada objeto deve seguir o schema fornecido.\n\nCampos sem informação devem ser enviados como string vazia \"\".\n\nDatas\n\ndataIns: use o formato \"DD/MM/YYYY HH:mm\" com {{ $now.toFormat('dd/MM/yyyy HH:mm') }}.\n\ndataNascimento: se desconhecida, use \"\".\n\nInteresses\n\nMáximo 3, separados por vírgula, escolhidos da lista:\nProjetos Elétricos, Projetos Eletromecânicos, Projeto Civil, BIM, Estudos Elétricos, Sistemas Digitais, Telecomunicações, Engenharia do Proprietário, Testes e Comissionamento, Cibersegurança, Tecnologia da Informação e Inovação.\n\nSe não houver, use \"\".\n\nÁrea de formação\n\nMáximo 2 valores, separados por ;.\n\nPriorize escolher dentro da lista:\nEngenharia Elétrica, Engenharia Eletromecânica, Engenharia Civil, Engenharia de Telecomunicações, Engenharia de Controle e Automação, Engenharia de Computação, Engenharia Mecânica, Engenharia de Produção, Engenharia de Software, Análise e Desenvolvimento de Sistemas, Ciência da Computação, Sistemas de Informação, Técnico em Eletrotécnica, Técnico em Eletrônica, Técnico em Mecânica, Técnico em Telecomunicações, Eletricista.\n\nSe a formação encontrada no currículo não estiver na lista, use exatamente o texto identificado (ex.: Administração, Direito, Economia).\n\nSe não houver informação, use \"\".\nLinks\n\nSe houver link de perfil profissional (LinkedIn, GitHub, etc.), envie apenas a URL junto com a formula =HIPERLINK(\"LINK QUE PEGOU\";\"Link\")\n\nSe não houver, use \"\".\n\nPara webViewLink, use:\nhttps://drive.google.com/file/d/{{ $node[\"Download_file\"].json[\"id\"] }}/view?usp=drivesdk\n\nEstado\n\nUse apenas a sigla (ex.: SP, RJ, MG).\n\nSe desconhecido, use \"\".\n\nCNH\n\nApenas categorias válidas: A, B, AB.\n\nSe não houver, use \"\".\n\nDisponibilidade e setor elétrico\n\ndisponibilidadeViagem: \"Sim\", \"Não\" ou \"\".\n\nsetorEletrico: \"Sim\" se houver experiência, \"Não\" se explicitamente não houver, ou \"\" se não for possível determinar.\n\nCampos obrigatórios\n\nnomeCompleto: todas as primeiras letras maiúsculas, exceto preposições como \"da\", \"de\", \"dos\", \"das\".\n\ntelefone: formato (DDD) 9 XXXX-XXXX para celular ou (DDD) XXXX-XXXX para fixo (sem código de país).\n\nOs campos obrigatórios são: nomeCompleto, telefone, dataNascimento, email, cidade, estado, disponibilidadeViagem, vagaInscrita, dataIns.\n\nSe não houver dado, use \"\".\n\n  {{ $json.text }}","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-2704,720],"id":"d9243170-84e3-48c2-8db7-84f7ae3b51e0","name":"Basic LLM Chain"},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $('Basic LLM Chain').item.json.output[0].link }}","mode":"url"},"newUpdatedFileName":"={{ $json['Nome Completo'] }}_{{ $json.Estado }}","options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2144,720],"id":"befea95e-148d-477a-bcf9-024a3b7b128a","name":"Update file","retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"i1RZRKtVnky7YUXu","name":"Google Drive account 2"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-3216,720],"id":"2e25f6d3-8eaf-4f70-bbcf-5c84915a1dd2","name":"Download_file","credentials":{"googleDriveOAuth2Api":{"id":"i1RZRKtVnky7YUXu","name":"Google Drive account 2"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-2960,720],"id":"659db6be-0a57-4451-a4db-c70c71590aa7","name":"GET_JSON"},{"parameters":{"httpMethod":"POST","path":"56d6b431-0f39-4ff0-b849-c11133e34390","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-3456,464],"id":"6299e91d-efee-4d3a-9622-aaa029389157","name":"Webhook","webhookId":"56d6b431-0f39-4ff0-b849-c11133e34390","credentials":{"httpHeaderAuth":{"id":"qsTY0idvBrhxfFbW","name":"Header Auth account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1VzRTXVBKr1LwalmR2v6CKq6wyoWn1aSg5hQCmX2AAUU","mode":"list","cachedResultName":"Banco de Talentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VzRTXVBKr1LwalmR2v6CKq6wyoWn1aSg5hQCmX2AAUU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VzRTXVBKr1LwalmR2v6CKq6wyoWn1aSg5hQCmX2AAUU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"dataIns":"={{ $('Basic LLM Chain').item.json.output[0].dataIns }}","Nome Completo":"={{ $('Basic LLM Chain').item.json.output[0].nomeCompleto }}","Data de Nascimento":"={{ $('Basic LLM Chain').item.json.output[0].dataNascimento }}","Telefone":"={{ $('Basic LLM Chain').item.json.output[0].telefone }}","Cidade":"={{ $('Basic LLM Chain').item.json.output[0].cidade }}","E-Mail":"={{ $('Basic LLM Chain').item.json.output[0].email }}","Estado":"={{ $('Basic LLM Chain').item.json.output[0].estado }}","Está disponivel para viagem?":"={{ $('Basic LLM Chain').item.json.output[0].disponibilidadeViagem }}","Setor Elétrico?":"={{ $('Basic LLM Chain').item.json.output[0].setorEletrico }}","Área de formação":"={{ $('Basic LLM Chain').item.json.output[0].areaFormacao }}","Interesses":"={{ $('Basic LLM Chain').item.json.output[0].interesses }}","Links":"={{ $('Basic LLM Chain').item.json.output[0].link }}","Currículo":"==HIPERLINK(\"{{ $('Basic LLM Chain').item.json.output[0].webViewLink }}\";\"Currículo\")","CNH":"={{ $('Basic LLM Chain').item.json.output[0].cnh }}","Vaga ":"={{ $('Basic LLM Chain').item.json.output[0].vagaInscrita }}","Fonte":"Email - Seleção"},"matchingColumns":[],"schema":[{"id":"Nome Completo","displayName":"Nome Completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data de Nascimento","displayName":"Data de Nascimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E-Mail","displayName":"E-Mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Cidade","displayName":"Cidade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Está disponivel para viagem?","displayName":"Está disponivel para viagem?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Setor Elétrico?","displayName":"Setor Elétrico?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Área de formação","displayName":"Área de formação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Interesses","displayName":"Interesses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Currículo","displayName":"Currículo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Links","displayName":"Links","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fonte","displayName":"Fonte","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CNH","displayName":"CNH","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Vaga ","displayName":"Vaga ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dataIns","displayName":"dataIns","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-2336,720],"id":"02b2f998-b34c-45a1-b052-c510d7f354d5","name":"ADD_CANDIDATE_DRIVE","credentials":{"googleSheetsOAuth2Api":{"id":"5uGUQZksI1O6axsA","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1VzRTXVBKr1LwalmR2v6CKq6wyoWn1aSg5hQCmX2AAUU","mode":"list","cachedResultName":"Banco de Talentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VzRTXVBKr1LwalmR2v6CKq6wyoWn1aSg5hQCmX2AAUU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cadastros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VzRTXVBKr1LwalmR2v6CKq6wyoWn1aSg5hQCmX2AAUU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"dataIns":"={{ $now.toFormat('dd/MM/yyyy HH:mm') }}","Nome Completo":"={{ $json.nomeCompleto }}","Data de Nascimento":"={{ $json.dataNascimento }}","Telefone":"={{ $json.telefone }}","E-Mail":"={{ $json.email }}","Cidade":"={{ $json.cidade }}","Estado":"={{ $json.estado }}","Está disponivel para viagem?":"={{ $json.disponibilidadeViagem }}","Setor Elétrico?":"={{ $json.setorEletrico }}","Área de formação":"={{ $json.areaFormacao }}","Interesses":"={{ $json.interesses }}","Currículo":"==HYPERLINK(\"{{ $json.webViewLink }}\";\"Currículo\")\n","Fonte":"={{ $json.fonte }}","CNH":"={{ $json.cnh }}","Vaga ":"={{ $json.vagaInscrita }}","Links":"={{ $json.linksFormula }}"},"matchingColumns":[],"schema":[{"id":"Nome Completo","displayName":"Nome Completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data de Nascimento","displayName":"Data de Nascimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E-Mail","displayName":"E-Mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Cidade","displayName":"Cidade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Está disponivel para viagem?","displayName":"Está disponivel para viagem?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Setor Elétrico?","displayName":"Setor Elétrico?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Área de formação","displayName":"Área de formação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Interesses","displayName":"Interesses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Currículo","displayName":"Currículo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Links","displayName":"Links","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fonte","displayName":"Fonte","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CNH","displayName":"CNH","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Vaga ","displayName":"Vaga ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dataIns","displayName":"dataIns","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-2144,480],"id":"46768f55-d6b1-4d45-91ba-5446cf971fbf","name":"ADD_CANDIDATE_FORM","credentials":{"googleSheetsOAuth2Api":{"id":"5uGUQZksI1O6axsA","name":"Google Sheets account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2704,880],"id":"288b075c-a862-4aee-aa56-e12af63358e6","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ZOhloDp8D6BxlshB","name":"OpenAi account 2"}}},{"parameters":{"content":"# Automação Forms","height":320,"width":1696},"type":"n8n-nodes-base.stickyNote","position":[-3600,320],"typeVersion":1,"id":"60a24178-bed2-49b3-8fd3-aef7cfb5804e","name":"Sticky Note6"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M","mode":"list","cachedResultName":"Curriculos - Drive","cachedResultUrl":"https://drive.google.com/drive/folders/1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-3456,720],"id":"7142dc79-f018-479a-aba3-2d55b925f846","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"i1RZRKtVnky7YUXu","name":"Google Drive account 2"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"nomeCompleto\": {\n        \"type\": \"string\",\n        \"minLength\": 1\n      },\n      \"dataNascimento\": {\n        \"type\": \"string\"\n      },\n      \"telefone\": {\n        \"type\": \"string\"\n      },\n      \"email\": {\n        \"type\": \"string\"\n      },\n      \"cidade\": {\n        \"type\": \"string\",\n        \"minLength\": 1\n      },\n      \"estado\": {\n        \"type\": \"string\",\n        \"minLength\": 2,\n        \"maxLength\": 2\n      },\n      \"disponibilidadeViagem\": {\n        \"type\": \"string\",\n        \"enum\": [\"Sim\", \"Não\", \"Parcial\", \"\"]\n      },\n      \"setorEletrico\": {\n        \"type\": \"string\"\n      },\n      \"areaFormacao\": {\n        \"type\": \"string\"\n      },\n      \"interesses\": {\n        \"type\": \"string\"\n      },\n      \"link\": {\n        \"type\": \"string\"\n      },\n      \"webViewLink\": {\n        \"type\": \"string\"\n      },\n      \"cnh\": {\n        \"type\": \"string\",\n        \"enum\": [\"A\", \"B\", \"AB\", \"\"]\n      },\n      \"vagaInscrita\": {\n        \"type\": \"string\"\n      },\n      \"dataIns\": {\n        \"type\": \"string\"\n      }\n    },\n    \"required\": [\n      \"nomeCompleto\",\n      \"dataNascimento\",\n      \"telefone\",\n      \"email\",\n      \"cidade\",\n      \"estado\",\n      \"disponibilidadeViagem\",\n      \"vagaInscrita\",\n      \"dataIns\"\n    ],\n    \"additionalProperties\": false\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2560,880],"id":"d127117d-5b67-4116-94e4-a07d16b4ddd8","name":"Structured Output Parser"},{"parameters":{"content":"# Automação Drive\n","height":384,"width":1696,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-3600,640],"typeVersion":1,"id":"889e9074-9dc5-4fa8-81b8-a38ac6b42dd1","name":"Sticky Note5"}],"connections":{"UPLOAD_RESUME":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"HTTP_RESUME":{"main":[[{"node":"UPLOAD_RESUME","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"GET_RESUME":{"main":[[{"node":"HTTP_RESUME","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"ADD_CANDIDATE_FORM","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"ADD_CANDIDATE_DRIVE","type":"main","index":0}]]},"Update file":{"main":[[]]},"Download_file":{"main":[[{"node":"GET_JSON","type":"main","index":0}]]},"GET_JSON":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"GET_RESUME","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Google Drive Trigger":{"main":[[{"node":"Download_file","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"ADD_CANDIDATE_DRIVE":{"main":[[{"node":"Update file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:30 minute Trigger":{"recurrenceRules":[]},"node:Google Drive Trigger":{"lastTimeChecked":"2025-09-11T17:50:22Z"},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Google Drive Trigger":[{"json":{"parents":["1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M"],"lastModifyingUser":{"displayName":"mariaeduarda.lauriano","kind":"drive#user","me":false,"permissionId":"14284107074468724408","emailAddress":"mariaeduarda.lauriano@esc.com.br","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64"},"owners":[{"displayName":"mariaeduarda.lauriano","kind":"drive#user","me":false,"permissionId":"14284107074468724408","emailAddress":"mariaeduarda.lauriano@esc.com.br","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64"}],"permissions":[{"kind":"drive#permission","id":"14284107074468724408","type":"user","emailAddress":"mariaeduarda.lauriano@esc.com.br","role":"owner","displayName":"mariaeduarda.lauriano","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"07766998593574246975","type":"user","emailAddress":"n8nesc@gmail.com","role":"writer","displayName":"N8N ESC","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"09452354681220396560","type":"user","emailAddress":"selecaoescrh@gmail.com","role":"writer","displayName":"selecaoescrh","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXyMqz5p8U_blSTGyrFocx1XUBluuaRlegj4djq8PyAbXvlww=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":false,"canChangeItemDownloadRestriction":false,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":false,"canComment":true,"canCopy":true,"canDelete":false,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":false,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":false,"canMoveItemOutOfDrive":false,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":false,"canUntrash":false},"permissionIds":["14284107074468724408","07766998593574246975","09452354681220396560"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"1bpvXwbuwmgMLrc7j6mZLSy3wROxR-u4t","name":"PE_CARLOS DA SILVA.pdf","mimeType":"application/pdf","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"3","webContentLink":"https://drive.google.com/uc?id=1bpvXwbuwmgMLrc7j6mZLSy3wROxR-u4t&export=download","webViewLink":"https://drive.google.com/file/d/1bpvXwbuwmgMLrc7j6mZLSy3wROxR-u4t/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/pdf","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBPyC0xUhgrHB2dasCX1Df0SZIY0S-k5czBR4GHum-mFF93_t2B8AK2-GFQ-AAnjcI0gSQIfS9ObZuZrXiRkMxtHcprtFVCQ_bQXg4QEM5KxWfQ=s220","thumbnailVersion":"1","viewedByMe":false,"createdTime":"2025-09-11T17:39:27.145Z","modifiedTime":"2025-08-04T20:24:52.000Z","modifiedByMe":false,"shared":true,"ownedByMe":false,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"PE_CARLOS DA SILVA.pdf","fullFileExtension":"pdf","fileExtension":"pdf","md5Checksum":"c84880c1e13e5c05be5daeba7961b61b","sha1Checksum":"3d3624b2ec55fb1188108e594241eccd8421dbe2","sha256Checksum":"0c40e70fd70f0787b4ced065f53ab745d648df89fbd1a235f73878414a083e9b","size":"4065006","quotaBytesUsed":"4065006","headRevisionId":"0B124pOFkWuOSQ2p0YUJsa2Jaak5qQjFUQWhqVi9SNWE2UitZPQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}},{"json":{"parents":["1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M"],"lastModifyingUser":{"displayName":"mariaeduarda.lauriano","kind":"drive#user","me":false,"permissionId":"14284107074468724408","emailAddress":"mariaeduarda.lauriano@esc.com.br","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64"},"owners":[{"displayName":"mariaeduarda.lauriano","kind":"drive#user","me":false,"permissionId":"14284107074468724408","emailAddress":"mariaeduarda.lauriano@esc.com.br","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64"}],"permissions":[{"kind":"drive#permission","id":"14284107074468724408","type":"user","emailAddress":"mariaeduarda.lauriano@esc.com.br","role":"owner","displayName":"mariaeduarda.lauriano","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"07766998593574246975","type":"user","emailAddress":"n8nesc@gmail.com","role":"writer","displayName":"N8N ESC","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"09452354681220396560","type":"user","emailAddress":"selecaoescrh@gmail.com","role":"writer","displayName":"selecaoescrh","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXyMqz5p8U_blSTGyrFocx1XUBluuaRlegj4djq8PyAbXvlww=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":false,"canChangeItemDownloadRestriction":false,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":false,"canComment":true,"canCopy":true,"canDelete":false,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":false,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":false,"canMoveItemOutOfDrive":false,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":false,"canUntrash":false},"permissionIds":["14284107074468724408","07766998593574246975","09452354681220396560"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"1fMy72M0lSRHMAPjW6kqj43WoAq42t3mz","name":"RN_Francisco Silva.pdf","mimeType":"application/pdf","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"3","webContentLink":"https://drive.google.com/uc?id=1fMy72M0lSRHMAPjW6kqj43WoAq42t3mz&export=download","webViewLink":"https://drive.google.com/file/d/1fMy72M0lSRHMAPjW6kqj43WoAq42t3mz/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/pdf","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBOxYcFQxS3JAULscakM_dk_7_tutjKbRRi9xVIWzCbG93g87sBsabOrtSa8VSb4qx_Bhoi8SKQXL9Cld9v8pSVzAiQok1483m21uwFseOUpyTI=s220","thumbnailVersion":"1","viewedByMe":false,"createdTime":"2025-09-11T17:39:22.611Z","modifiedTime":"2025-07-30T16:30:01.000Z","modifiedByMe":false,"shared":true,"ownedByMe":false,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"RN_Francisco Silva.pdf","fullFileExtension":"pdf","fileExtension":"pdf","md5Checksum":"2757d7eff70bdbee2d41f4ba012f5492","sha1Checksum":"6a7d5463c8289e4d06ce173f12f8d8747b59f36b","sha256Checksum":"63b76d64c4165f9850cdb9db9194f0b1d8bddd4b9a91aff5943be5b744c5028a","size":"108874","quotaBytesUsed":"108874","headRevisionId":"0B124pOFkWuOSRm9MaDlvYXdDQlF6OXlydGZNZDd4SkUrV01jPQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}},{"json":{"parents":["1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M"],"lastModifyingUser":{"displayName":"mariaeduarda.lauriano","kind":"drive#user","me":false,"permissionId":"14284107074468724408","emailAddress":"mariaeduarda.lauriano@esc.com.br","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64"},"owners":[{"displayName":"mariaeduarda.lauriano","kind":"drive#user","me":false,"permissionId":"14284107074468724408","emailAddress":"mariaeduarda.lauriano@esc.com.br","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64"}],"permissions":[{"kind":"drive#permission","id":"14284107074468724408","type":"user","emailAddress":"mariaeduarda.lauriano@esc.com.br","role":"owner","displayName":"mariaeduarda.lauriano","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"07766998593574246975","type":"user","emailAddress":"n8nesc@gmail.com","role":"writer","displayName":"N8N ESC","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"09452354681220396560","type":"user","emailAddress":"selecaoescrh@gmail.com","role":"writer","displayName":"selecaoescrh","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXyMqz5p8U_blSTGyrFocx1XUBluuaRlegj4djq8PyAbXvlww=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":false,"canChangeItemDownloadRestriction":false,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":false,"canComment":true,"canCopy":true,"canDelete":false,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":false,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":false,"canMoveItemOutOfDrive":false,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":false,"canUntrash":false},"permissionIds":["14284107074468724408","07766998593574246975","09452354681220396560"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"1J7J2vSe8tK_mIE8aS2ZHK9-1xLzWj0az","name":"CE_Francisco Santos.pdf","mimeType":"application/pdf","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"3","webContentLink":"https://drive.google.com/uc?id=1J7J2vSe8tK_mIE8aS2ZHK9-1xLzWj0az&export=download","webViewLink":"https://drive.google.com/file/d/1J7J2vSe8tK_mIE8aS2ZHK9-1xLzWj0az/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/pdf","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBMNjNbl0vAue_OoYNX9Fou8pFENu6QWyWWuujRoigmFb3kjM_zEC8xGRedJcT1FLpMyWCvt8dV34FlIh1igJROU_QhmC3CkIHYMewO5JBaP6dM=s220","thumbnailVersion":"1","viewedByMe":false,"createdTime":"2025-09-11T17:39:22.254Z","modifiedTime":"2025-07-24T13:51:26.000Z","modifiedByMe":false,"shared":true,"ownedByMe":false,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"CE_Francisco Santos.pdf","fullFileExtension":"pdf","fileExtension":"pdf","md5Checksum":"de101c930f0680fb2802c05da5f56db6","sha1Checksum":"8a34cce1131398372af1ad36cb991770ec862dfd","sha256Checksum":"8a4ceed478a89f76c1f6370a40bd6bcda045a7a028ff64a547de5458bd83f980","size":"207322","quotaBytesUsed":"207322","headRevisionId":"0B124pOFkWuOSRHl0MWVtRVdib1JXNitPL3RBMVExbHRmeUhNPQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}},{"json":{"parents":["1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M"],"lastModifyingUser":{"displayName":"mariaeduarda.lauriano","kind":"drive#user","me":false,"permissionId":"14284107074468724408","emailAddress":"mariaeduarda.lauriano@esc.com.br","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64"},"owners":[{"displayName":"mariaeduarda.lauriano","kind":"drive#user","me":false,"permissionId":"14284107074468724408","emailAddress":"mariaeduarda.lauriano@esc.com.br","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64"}],"permissions":[{"kind":"drive#permission","id":"14284107074468724408","type":"user","emailAddress":"mariaeduarda.lauriano@esc.com.br","role":"owner","displayName":"mariaeduarda.lauriano","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"07766998593574246975","type":"user","emailAddress":"n8nesc@gmail.com","role":"writer","displayName":"N8N ESC","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"09452354681220396560","type":"user","emailAddress":"selecaoescrh@gmail.com","role":"writer","displayName":"selecaoescrh","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXyMqz5p8U_blSTGyrFocx1XUBluuaRlegj4djq8PyAbXvlww=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":false,"canChangeItemDownloadRestriction":false,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":false,"canComment":true,"canCopy":true,"canDelete":false,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":false,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":false,"canMoveItemOutOfDrive":false,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":false,"canUntrash":false},"permissionIds":["14284107074468724408","07766998593574246975","09452354681220396560"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"1Dy8l2rqACgk3N9xR9K2HKapYP6dUCJmY","name":"PE_Heitor dos santos.pdf","mimeType":"application/pdf","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"3","webContentLink":"https://drive.google.com/uc?id=1Dy8l2rqACgk3N9xR9K2HKapYP6dUCJmY&export=download","webViewLink":"https://drive.google.com/file/d/1Dy8l2rqACgk3N9xR9K2HKapYP6dUCJmY/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/pdf","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBN7L-LUdEqXatOBNaA7aI-BYx4MjWV3SZvKWDTgYfzPby2jx-VRuULSQWnwAUcpgP3eELBKryZmi2eGRuY0cTQg4jw_eIKxK3pm_DRQ7ilfiDg=s220","thumbnailVersion":"1","viewedByMe":false,"createdTime":"2025-09-11T17:39:22.566Z","modifiedTime":"2025-07-15T14:16:53.000Z","modifiedByMe":false,"shared":true,"ownedByMe":false,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"PE_Heitor dos santos.pdf","fullFileExtension":"pdf","fileExtension":"pdf","md5Checksum":"d3522b2a4200ffc607ae95f697743858","sha1Checksum":"094e4520afeb4433474a86ebc2f1635b9544afb3","sha256Checksum":"7b357f84ca43c4f15981249e5d0bec8cd60512d7e26cd36892c73ca6c1670c8d","size":"104941","quotaBytesUsed":"104941","headRevisionId":"0B124pOFkWuOSV2UwcjFrN290amxFdC9uZWZBei9TcWNOL09JPQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}},{"json":{"parents":["1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M"],"lastModifyingUser":{"displayName":"mariaeduarda.lauriano","kind":"drive#user","me":false,"permissionId":"14284107074468724408","emailAddress":"mariaeduarda.lauriano@esc.com.br","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64"},"owners":[{"displayName":"mariaeduarda.lauriano","kind":"drive#user","me":false,"permissionId":"14284107074468724408","emailAddress":"mariaeduarda.lauriano@esc.com.br","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64"}],"permissions":[{"kind":"drive#permission","id":"14284107074468724408","type":"user","emailAddress":"mariaeduarda.lauriano@esc.com.br","role":"owner","displayName":"mariaeduarda.lauriano","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"07766998593574246975","type":"user","emailAddress":"n8nesc@gmail.com","role":"writer","displayName":"N8N ESC","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"09452354681220396560","type":"user","emailAddress":"selecaoescrh@gmail.com","role":"writer","displayName":"selecaoescrh","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXyMqz5p8U_blSTGyrFocx1XUBluuaRlegj4djq8PyAbXvlww=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":false,"canChangeItemDownloadRestriction":false,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":false,"canComment":true,"canCopy":true,"canDelete":false,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":false,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":false,"canMoveItemOutOfDrive":false,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":false,"canUntrash":false},"permissionIds":["14284107074468724408","07766998593574246975","09452354681220396560"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"1i6OnVWEmRir9txkncW8AwWlYDNgbWaAr","name":"PB_Edvaldo Santos.pdf","mimeType":"application/pdf","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"3","webContentLink":"https://drive.google.com/uc?id=1i6OnVWEmRir9txkncW8AwWlYDNgbWaAr&export=download","webViewLink":"https://drive.google.com/file/d/1i6OnVWEmRir9txkncW8AwWlYDNgbWaAr/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/pdf","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBOtEomIjwOXSACBTcPUieWbfRz6a5PJ__8s52F7ZnNhKLeRtHdjf7tgziPIeVmyv67vDRV4arPquB0U_8Ney9nkkMXc7wTuwg5hrTWtqGgn7Wg=s220","thumbnailVersion":"1","viewedByMe":false,"createdTime":"2025-09-11T17:39:21.999Z","modifiedTime":"2025-07-15T14:06:51.000Z","modifiedByMe":false,"shared":true,"ownedByMe":false,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"PB_Edvaldo Santos.pdf","fullFileExtension":"pdf","fileExtension":"pdf","md5Checksum":"31add65b498980ec784f84ccf0c22ee5","sha1Checksum":"ab1f9e591227983a3da36d9dd1f1a03993ab73c7","sha256Checksum":"2064d12cbde43064be698d7c74e2829164f2b3d811a737c2070bb8b0d4340ec7","size":"89752","quotaBytesUsed":"89752","headRevisionId":"0B124pOFkWuOSenNaYTJ5ZTZHcE5UUC8yek9xTXRSNWtub2NFPQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}},{"json":{"parents":["1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M"],"lastModifyingUser":{"displayName":"mariaeduarda.lauriano","kind":"drive#user","me":false,"permissionId":"14284107074468724408","emailAddress":"mariaeduarda.lauriano@esc.com.br","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64"},"owners":[{"displayName":"mariaeduarda.lauriano","kind":"drive#user","me":false,"permissionId":"14284107074468724408","emailAddress":"mariaeduarda.lauriano@esc.com.br","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64"}],"permissions":[{"kind":"drive#permission","id":"14284107074468724408","type":"user","emailAddress":"mariaeduarda.lauriano@esc.com.br","role":"owner","displayName":"mariaeduarda.lauriano","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"07766998593574246975","type":"user","emailAddress":"n8nesc@gmail.com","role":"writer","displayName":"N8N ESC","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"09452354681220396560","type":"user","emailAddress":"selecaoescrh@gmail.com","role":"writer","displayName":"selecaoescrh","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXyMqz5p8U_blSTGyrFocx1XUBluuaRlegj4djq8PyAbXvlww=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":false,"canChangeItemDownloadRestriction":false,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":false,"canComment":true,"canCopy":true,"canDelete":false,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":false,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":false,"canMoveItemOutOfDrive":false,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":false,"canUntrash":false},"permissionIds":["14284107074468724408","07766998593574246975","09452354681220396560"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"1GDxqsreb50LS0WwSlafRcLIOiPis4iij","name":"PE_Elizeu Barbosa.pdf","mimeType":"application/pdf","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"3","webContentLink":"https://drive.google.com/uc?id=1GDxqsreb50LS0WwSlafRcLIOiPis4iij&export=download","webViewLink":"https://drive.google.com/file/d/1GDxqsreb50LS0WwSlafRcLIOiPis4iij/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/pdf","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBPVZY3BF6E8NH0l0uGoI1QbKNc7up0JkTu19rJRoEvQMnyNWKd7KXo3LIvN-wZ2F_wCMBl_QdOHRtk4k2JqtiURfPbXbOwxphf9wbFu_gcmRyk=s220","thumbnailVersion":"1","viewedByMe":false,"createdTime":"2025-09-11T17:39:23.077Z","modifiedTime":"2025-07-15T13:57:11.000Z","modifiedByMe":false,"shared":true,"ownedByMe":false,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"PE_Elizeu Barbosa.pdf","fullFileExtension":"pdf","fileExtension":"pdf","md5Checksum":"d2060f648050b210206273ccf7ebbf29","sha1Checksum":"c0e8c87431ea1e7771b0a84d4f52979bc056b551","sha256Checksum":"02f9de574a716635984963c08b623567ca6bf74bdf6422846161f3f1f8f59636","size":"298184","quotaBytesUsed":"298184","headRevisionId":"0B124pOFkWuOSeXRjWlZBRVl5c0dsTXBodDhVVnlIYkliU0NNPQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}},{"json":{"parents":["1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M"],"lastModifyingUser":{"displayName":"mariaeduarda.lauriano","kind":"drive#user","me":false,"permissionId":"14284107074468724408","emailAddress":"mariaeduarda.lauriano@esc.com.br","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64"},"owners":[{"displayName":"mariaeduarda.lauriano","kind":"drive#user","me":false,"permissionId":"14284107074468724408","emailAddress":"mariaeduarda.lauriano@esc.com.br","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64"}],"permissions":[{"kind":"drive#permission","id":"14284107074468724408","type":"user","emailAddress":"mariaeduarda.lauriano@esc.com.br","role":"owner","displayName":"mariaeduarda.lauriano","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"07766998593574246975","type":"user","emailAddress":"n8nesc@gmail.com","role":"writer","displayName":"N8N ESC","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"09452354681220396560","type":"user","emailAddress":"selecaoescrh@gmail.com","role":"writer","displayName":"selecaoescrh","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXyMqz5p8U_blSTGyrFocx1XUBluuaRlegj4djq8PyAbXvlww=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":false,"canChangeItemDownloadRestriction":false,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":false,"canComment":true,"canCopy":true,"canDelete":false,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":false,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":false,"canMoveItemOutOfDrive":false,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":false,"canUntrash":false},"permissionIds":["14284107074468724408","07766998593574246975","09452354681220396560"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"15D9Sx9YVW5IOJcC3eYTY1Dqdeu_6Y43w","name":"SP_Leandro Cunha.pdf","mimeType":"application/pdf","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"3","webContentLink":"https://drive.google.com/uc?id=15D9Sx9YVW5IOJcC3eYTY1Dqdeu_6Y43w&export=download","webViewLink":"https://drive.google.com/file/d/15D9Sx9YVW5IOJcC3eYTY1Dqdeu_6Y43w/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/pdf","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBP9YPg1LXbllgTeHs1VChS-viI6E380SSoUXE7aryduOk7Hj9Kfa9hKsHJ73TFaUB-_TeqU9Efl3RqnTWJ9qQy2Xr5ZFCCRaMkvB_IeRRiPAr4=s220","thumbnailVersion":"1","viewedByMe":false,"createdTime":"2025-09-11T17:39:22.520Z","modifiedTime":"2025-07-15T13:40:01.000Z","modifiedByMe":false,"shared":true,"ownedByMe":false,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"SP_Leandro Cunha.pdf","fullFileExtension":"pdf","fileExtension":"pdf","md5Checksum":"d259053227e01836f3a1ef89d2d40f7b","sha1Checksum":"fa767109f48279ee93fa631255a3c738d218d2ba","sha256Checksum":"76430f39a8fc9bf1f0390aa5e4ff73a660ed85ab9b50589e896e236560a98ca2","size":"81896","quotaBytesUsed":"81896","headRevisionId":"0B124pOFkWuOSYVBvVVRnWGZpaDJwV0hGa293WDZ3WWtnRlk4PQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}},{"json":{"parents":["1VIOVsbIdQPTFNpugBEen_jNwLDzIwa2M"],"lastModifyingUser":{"displayName":"mariaeduarda.lauriano","kind":"drive#user","me":false,"permissionId":"14284107074468724408","emailAddress":"mariaeduarda.lauriano@esc.com.br","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64"},"owners":[{"displayName":"mariaeduarda.lauriano","kind":"drive#user","me":false,"permissionId":"14284107074468724408","emailAddress":"mariaeduarda.lauriano@esc.com.br","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64"}],"permissions":[{"kind":"drive#permission","id":"14284107074468724408","type":"user","emailAddress":"mariaeduarda.lauriano@esc.com.br","role":"owner","displayName":"mariaeduarda.lauriano","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjX0lW9q-eaVQwwO_Fx2jNzY1Zepn6CiruCkdK6fDlMztTD87w=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"07766998593574246975","type":"user","emailAddress":"n8nesc@gmail.com","role":"writer","displayName":"N8N ESC","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocIVc-4e1_iyAWeZX1-CxLAzGrp3Cj5oBeyb7OpnU4DHno1aeQ=s64","deleted":false,"pendingOwner":false},{"kind":"drive#permission","id":"09452354681220396560","type":"user","emailAddress":"selecaoescrh@gmail.com","role":"writer","displayName":"selecaoescrh","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXyMqz5p8U_blSTGyrFocx1XUBluuaRlegj4djq8PyAbXvlww=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":false,"canChangeItemDownloadRestriction":false,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":false,"canComment":true,"canCopy":true,"canDelete":false,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":false,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":false,"canMoveItemOutOfDrive":false,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":false,"canUntrash":false},"permissionIds":["14284107074468724408","07766998593574246975","09452354681220396560"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"1mf_F8igFBZVqJ4B8OIdrMoObnraJLw-7","name":"PE_Felipe Silva.pdf","mimeType":"application/pdf","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"3","webContentLink":"https://drive.google.com/uc?id=1mf_F8igFBZVqJ4B8OIdrMoObnraJLw-7&export=download","webViewLink":"https://drive.google.com/file/d/1mf_F8igFBZVqJ4B8OIdrMoObnraJLw-7/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/pdf","hasThumbnail":true,"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBPFDn66_6ogL7P85eyYITudrQbOgLAImalVq4xKuJQYBT9sEKq0BTfOY5SC30DOGTEZLt_VHnoQFdz24qjT0mFjxLoLhM2ExoGAt_cUrfoqMcE=s220","thumbnailVersion":"1","viewedByMe":false,"createdTime":"2025-09-11T17:39:22.435Z","modifiedTime":"2025-07-15T13:17:26.000Z","modifiedByMe":false,"shared":true,"ownedByMe":false,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"PE_Felipe Silva.pdf","fullFileExtension":"pdf","fileExtension":"pdf","md5Checksum":"96fa2919f504b8caa20d093c91f80156","sha1Checksum":"9347c76e5e9766d3995ebd85a8f41fb5655f5c3b","sha256Checksum":"d7dba702cd129a25997af1b5e2979c8dfef4afb4a33475f1b01d688b8b7ee45e","size":"62822","quotaBytesUsed":"62822","headRevisionId":"0B124pOFkWuOScXJZdVhaTWZQNnRQNUdHbU1XdGdOSkQxWTUwPQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}}]},"versionId":"9dcc5753-6336-41ce-a705-e82d66f55337","triggerCount":2,"shared":[{"createdAt":"2025-08-25T18:22:48.553Z","updatedAt":"2025-08-25T18:22:48.553Z","role":"workflow:owner","workflowId":"VlYisriLfzpBuIWR","projectId":"jJAHNbybBNBtw3OW"}],"tags":[]}