n8n-backup-XOIzkulM9zk3w6cY.json
{"createdAt":"2025-09-11T17:16:03.702Z","updatedAt":"2025-09-15T15:04:23.870Z","id":"XOIzkulM9zk3w6cY","name":"N8N BACKUP","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"71c8ed9f-3d32-4533-b90c-53873ec3cb24","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[528,336]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"089e7de3-c353-4071-a3c0-a918c735341d","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[736,336]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"80921895-76af-4fa8-bff5-ea0d558e69b4","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[928,336]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"ESC-Engenharia","mode":"list","cachedResultName":"ESC-Engenharia","cachedResultUrl":"https://github.com/ESC-Engenharia"},"repository":{"__rl":true,"value":"Backup-N8N","mode":"list","cachedResultName":"Backup-N8N","cachedResultUrl":"https://github.com/ESC-Engenharia/Backup-N8N"},"filePath":"="},"id":"f94e95f3-8132-4938-a572-769c210cb328","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1136,336],"alwaysOutputData":true,"webhookId":"0a14adde-5951-4ff9-b62d-60456fe891e2","credentials":{"githubApi":{"id":"nOcBgnUFCiOOMhea","name":"Inovesc"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"2a80ee4a-22a6-4b14-9fab-fd611b01a482","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1328,336]},{"parameters":{"filters":{},"requestOptions":{}},"id":"8f0fe74d-2d40-4880-8a4d-8d7df3721efe","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1536,336],"credentials":{"n8nApi":{"id":"hXoj6KE17uObodQA","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"5435b326-811a-4009-8518-26f79eee9b85","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1728,336]},{"parameters":{"batchSize":1,"options":{}},"id":"f9fc4cc0-d13b-4c55-a062-69c0df2e1e0f","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1968,336]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"09aebdf2-ffb0-456b-a67f-76e7cbba7c3a","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[2208,256]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"ESC-Engenharia","mode":"list","cachedResultName":"ESC-Engenharia","cachedResultUrl":"https://github.com/ESC-Engenharia"},"repository":{"__rl":true,"value":"Backup-N8N","mode":"list","cachedResultName":"Backup-N8N","cachedResultUrl":"https://github.com/ESC-Engenharia/Backup-N8N"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"e9ae3866-a008-417b-846c-b7c081be78bc","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2432,64],"webhookId":"4894da2e-4eb4-43d3-97db-2d3c28503df7","credentials":{"githubApi":{"id":"nOcBgnUFCiOOMhea","name":"Inovesc"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"ESC-Engenharia","mode":"list","cachedResultName":"ESC-Engenharia","cachedResultUrl":"https://github.com/ESC-Engenharia"},"repository":{"__rl":true,"value":"Backup-N8N","mode":"list","cachedResultName":"Backup-N8N","cachedResultUrl":"https://github.com/ESC-Engenharia/Backup-N8N"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"48888f51-834b-447d-8bc8-f4835e9ed939","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2432,464],"webhookId":"d824d798-6af3-4eac-9a2a-33e34b0fd5a2","credentials":{"githubApi":{"id":"nOcBgnUFCiOOMhea","name":"Inovesc"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[368,336],"id":"52447499-9877-425e-9331-e6968864eef0","name":"When clicking ‘Execute workflow’"}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Set date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7f7ccd75-022d-4c5d-b9f5-79614086ad45","triggerCount":1,"shared":[{"createdAt":"2025-09-11T17:16:03.702Z","updatedAt":"2025-09-11T17:16:03.702Z","role":"workflow:owner","workflowId":"XOIzkulM9zk3w6cY","projectId":"jJAHNbybBNBtw3OW"}],"tags":[]}